In [144]:
# Import all the necessary libraries

import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools

%matplotlib inline

In [145]:
# 20 Mannschaften * 19 = 380 Spiele pro Saison
# 2&3 Liga sogar 24!

In [146]:
# Read data from the CSV into a dataframe

# Python pandas will read a csv file using utf_8 encoding defautly. 
# If the character encoding of this csv file is not utf_8, UnicodeDecodeError may occur.

loc = "/home/max/Dokumente/Projekte/Football_Game_Prediction/Data_Gathering/Premier_Div1_Div2_in_Game/league_2/"
# raw_data_1 = pd.read_csv(loc + '2000_2001.csv', sep=',', encoding='gbk')
#raw_data_2 = pd.read_csv(loc + '2001_2002.csv', sep=',', encoding='gbk')
#raw_data_3 = pd.read_csv(loc + '2002_2003.csv', sep=',', encoding='gbk') 
# raw_data_4 = pd.read_csv(loc + '2003_2004.csv')
# raw_data_5 = pd.read_csv(loc + '2004_2005.csv', sep=',', encoding='gbk') 
#-> geht auch nicht wie in premier league

raw_data_6 = pd.read_csv(loc + '2005_2006.csv', sep=',', encoding='gbk')
raw_data_7 = pd.read_csv(loc + '2006_2007.csv', sep=',', encoding='gbk')
raw_data_8 = pd.read_csv(loc + '2007_2008.csv', sep=',', encoding='gbk')
raw_data_9 = pd.read_csv(loc + '2008_2009.csv', sep=',', encoding='gbk')
raw_data_10 = pd.read_csv(loc + '2009_2010.csv', sep=',', encoding='gbk')
raw_data_11 = pd.read_csv(loc + '2010_2011.csv', sep=',', encoding='gbk')
raw_data_12 = pd.read_csv(loc + '2011_2012.csv', sep=',', encoding='gbk')
raw_data_13 = pd.read_csv(loc + '2012_2013.csv', sep=',', encoding='gbk')
raw_data_14 = pd.read_csv(loc + '2013_2014.csv', sep=',', encoding='gbk')
raw_data_15 = pd.read_csv(loc + '2014_2015.csv', sep=',', encoding='gbk')
raw_data_16 = pd.read_csv(loc + '2015_2016.csv', sep=',', encoding='gbk')
raw_data_17 = pd.read_csv(loc + '2016_2017.csv', sep=',', encoding='gbk')
raw_data_18 = pd.read_csv(loc + '2017_2018.csv', sep=',', encoding='gbk')
raw_data_19 = pd.read_csv(loc + '2018_2019.csv', sep=',', encoding='gbk')
raw_data_20 = pd.read_csv(loc + '2019_2020.csv', sep=',', encoding='gbk') 

# saison 20 weniger rows als die anderen DataFrames? -> nur 400? 
# ansonsten alle 552

In [147]:
raw_data_16.drop(raw_data_16.tail(1).index,inplace=True) # drop last n rows
raw_data_13.drop(raw_data_13.tail(2).index,inplace=True) # drop last n rows

In [148]:
raw_data_13

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E3,18/08/12,AFC Wimbledon,Chesterfield,1.0,0.0,H,1.0,0.0,H,...,1.99,18.0,0.25,1.88,1.82,2.08,2.03,2.64,3.41,2.81
1,E3,18/08/12,Bristol Rvs,Oxford,0.0,2.0,A,0.0,2.0,A,...,1.77,18.0,-0.25,2.10,2.05,1.85,1.80,2.54,3.39,2.95
2,E3,18/08/12,Cheltenham,Dag and Red,2.0,0.0,H,1.0,0.0,H,...,1.85,17.0,-0.75,2.16,2.11,1.80,1.76,2.00,3.64,4.00
3,E3,18/08/12,Exeter,Morecambe,0.0,3.0,A,0.0,3.0,A,...,1.89,17.0,-0.75,2.28,2.24,1.72,1.67,2.14,3.44,3.74
4,E3,18/08/12,Fleetwood Town,Torquay,0.0,0.0,D,0.0,0.0,D,...,1.89,17.0,-0.25,1.82,1.74,2.22,2.14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,27/04/13,Rochdale,Plymouth,1.0,0.0,H,0.0,0.0,D,...,1.73,18.0,0.00,1.78,1.74,2.23,2.15,2.29,3.54,3.20
548,E3,27/04/13,Rotherham,Aldershot,2.0,0.0,H,0.0,0.0,D,...,2.11,20.0,-1.25,1.88,1.84,2.07,2.03,1.49,4.63,7.22
549,E3,27/04/13,Southend,Morecambe,0.0,1.0,A,0.0,1.0,A,...,1.83,19.0,-0.50,2.05,2.02,1.92,1.86,1.88,3.84,4.30
550,E3,27/04/13,Torquay,Bristol Rvs,3.0,3.0,D,0.0,1.0,A,...,1.82,19.0,-0.50,2.11,2.07,1.84,1.81,2.34,3.48,3.22
551,E3,27/04/13,Wycombe,Port Vale,1.0,1.0,D,1.0,0.0,H,...,1.82,16.0,0.25,1.92,1.86,2.05,2.01,3.20,3.57,2.31

In [149]:
raw_data_18.Date

0      05/08/17
1      05/08/17
2      05/08/17
3      05/08/17
4      05/08/17
         ...
547    05/05/18
548    05/05/18
549    05/05/18
550    05/05/18
551    05/05/18
Name: Date, Length: 552, dtype: object

In [150]:
# Parse data as time 

def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%y').date()
    

def parse_date_other(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%Y').date()

# funktion brauche ich nicht: form nur für obigen zwei!
def parse_date_other_2(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%Y-%m-%d').date()

In [151]:
#raw_data_1.Date = raw_data_1.Date.apply(parse_date)    
#raw_data_2.Date = raw_data_2.Date.apply(parse_date)    
#raw_data_3.Date = raw_data_3.Date.apply(parse_date_other)          
# raw_data_4.Date = raw_data_4.Date.apply(parse_date)    
# raw_data_5.Date = raw_data_5.Date.apply(parse_date)    
raw_data_6.Date = raw_data_6.Date.apply(parse_date)    
raw_data_7.Date = raw_data_7.Date.apply(parse_date)    
raw_data_8.Date = raw_data_8.Date.apply(parse_date)    
raw_data_9.Date = raw_data_9.Date.apply(parse_date)    
raw_data_10.Date = raw_data_10.Date.apply(parse_date)
raw_data_11.Date = raw_data_11.Date.apply(parse_date)
raw_data_12.Date = raw_data_12.Date.apply(parse_date)
raw_data_13.Date = raw_data_13.Date.apply(parse_date)
raw_data_14.Date = raw_data_14.Date.apply(parse_date)
raw_data_15.Date = raw_data_15.Date.apply(parse_date)
raw_data_16.Date = raw_data_16.Date.apply(parse_date)
raw_data_17.Date = raw_data_17.Date.apply(parse_date)
raw_data_18.Date = raw_data_18.Date.apply(parse_date)
raw_data_19.Date = raw_data_19.Date.apply(parse_date_other)
# raw_data_20.Date = raw_data_20.Date.apply(parse_date_other)

In [152]:
#Gets all the statistics related to gameplay
                      
columns_req = ['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR', "HS", "AS", "HST", "AST", "HC", 
                          "AC", "HF", "AF", "HY", "AY", "HR", "AR"]

#playing_statistics_1 = raw_data_1[columns_req]    
#playing_statistics_2 = raw_data_2[columns_req]   
#playing_statistics_3 = raw_data_3[columns_req]    
#playing_statistics_4 = raw_data_4[columns_req]   
#playing_statistics_5 = raw_data_5[columns_req]  
playing_statistics_6 = raw_data_6[columns_req]    
playing_statistics_7 = raw_data_7[columns_req]    
playing_statistics_8 = raw_data_8[columns_req] 
playing_statistics_9 = raw_data_9[columns_req]    
playing_statistics_10 = raw_data_10[columns_req]    
playing_statistics_11 = raw_data_12[columns_req]  
playing_statistics_12 = raw_data_12[columns_req]  
playing_statistics_13 = raw_data_13[columns_req]  
playing_statistics_14 = raw_data_14[columns_req] 
playing_statistics_15 = raw_data_15[columns_req]   
playing_statistics_16 = raw_data_16[columns_req]
playing_statistics_17 = raw_data_17[columns_req] 
playing_statistics_18 = raw_data_18[columns_req]  
playing_statistics_19 = raw_data_19[columns_req]  
#playing_statistics_20 = raw_data_20[columns_req]

In [153]:
playing_statistics_17

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2016-08-06,Accrington,Doncaster,3,2,H,9,18,5,9,2,7,12.0,12.0,3,2,0,0
1,2016-08-06,Blackpool,Exeter,2,0,H,17,13,4,1,4,11,14.0,11.0,1,3,0,0
2,2016-08-06,Cambridge,Barnet,1,1,D,11,15,2,3,4,10,8.0,10.0,0,1,0,0
3,2016-08-06,Cheltenham,Leyton Orient,1,1,D,9,11,5,4,2,9,10.0,10.0,1,2,0,0
4,2016-08-06,Crawley Town,Wycombe,1,0,H,13,13,5,4,4,11,18.0,14.0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2017-05-06,Luton,Morecambe,3,1,H,16,8,7,4,12,2,13.0,12.0,2,1,0,0
548,2017-05-06,Newport County,Notts County,2,1,H,10,10,5,2,0,2,13.0,8.0,1,1,0,0
549,2017-05-06,Portsmouth,Cheltenham,6,1,H,15,11,8,5,5,3,6.0,7.0,1,1,0,0
550,2017-05-06,Stevenage,Accrington,0,3,A,8,17,5,5,5,7,19.0,9.0,2,2,0,0
551,2017-05-06,Wycombe,Cambridge,1,0,H,14,9,5,5,6,3,17.0,8.0,3,2,0,0

** GOALS SCORED AND CONCEDED AT THE END OF MATCHWEEK, ARRANGED BY TEAMS AND MATCHWEEK **

Bundesliga sind 18 Teams => 18x17 sind 306 Spiele 
Premier League: sind 20 Teams => 20x19 sind 380 Spiele 
=> ändere if ((i + 1)% 9) == 0: zu if ((i + 1)% 10) == 0: 
-> hier: 552 rows => hier 24x23 = 552 
-> Premier league waren 38 Spieltage => 39 -- hier sind es 46 => 47 eingeben! 
-> buli 18 Teams -> %9 , PL 20 Teams -> %10 -> hier 24 Teams -> %12

In [154]:
# alle 302 mit 380 ersetzen!
# Shape of passed values is (38, 20), indices imply (34, 20) => jede 47 mit 47 ersetzen!

# Gets the goals scored agg arranged by teams and matchweek
def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored



# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

In [155]:
# Apply to each dataset

#playing_statistics_1 = get_gss(playing_statistics_1)
#playing_statistics_2 = get_gss(playing_statistics_2)
#playing_statistics_3 = get_gss(playing_statistics_3)
#playing_statistics_4 = get_gss(playing_statistics_4)
#playing_statistics_5 = get_gss(playing_statistics_5)
playing_statistics_6 = get_gss(playing_statistics_6)
playing_statistics_7 = get_gss(playing_statistics_7)
playing_statistics_8 = get_gss(playing_statistics_8)
playing_statistics_9 = get_gss(playing_statistics_9)
playing_statistics_10 = get_gss(playing_statistics_10)
playing_statistics_11 = get_gss(playing_statistics_11)
playing_statistics_12 = get_gss(playing_statistics_12)
playing_statistics_13 = get_gss(playing_statistics_13)
playing_statistics_14 = get_gss(playing_statistics_14)
playing_statistics_15 = get_gss(playing_statistics_15)
playing_statistics_16 = get_gss(playing_statistics_16)
playing_statistics_17 = get_gss(playing_statistics_17)
playing_statistics_18 = get_gss(playing_statistics_18)
playing_statistics_19 = get_gss(playing_statistics_19)
# playing_statistics_20 = get_gss(playing_statistics_20)

# danach immer kopieren und befehlt get_gss mit jeweiliger funktion für alle ersetzen! + loops verbessern!

<ipython-input-154-a0a7542a5bc0>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTGS'] = HTGS
<ipython-input-154-a0a7542a5bc0>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATGS'] = ATGS
<ipython-input-154-a0a7542a5bc0>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTGC'] = HTGC
<ipython-input-154-a0a7542a5bc0>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATGC'] = ATGC

In [156]:
playing_statistics_6[['Date', "HomeTeam", "AwayTeam", "FTHG", "FTAG", "HTGS", "ATGS", "HTGC", "ATGC"]].head(60)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTGS,ATGS,HTGC,ATGC
0,2005-08-06,Barnet,Bristol Rvs,1,1,0,0,0,0
1,2005-08-06,Cheltenham,Bury,2,1,0,0,0,0
2,2005-08-06,Grimsby,Oxford,1,1,0,0,0,0
3,2005-08-06,Leyton Orient,Macclesfield,2,1,0,0,0,0
4,2005-08-06,Lincoln,Northampton,1,1,0,0,0,0
5,2005-08-06,Peterboro,Chester,0,1,0,0,0,0
6,2005-08-06,Rushden & D,Darlington,1,1,0,0,0,0
7,2005-08-06,Shrewsbury,Rochdale,0,1,0,0,0,0
8,2005-08-06,Stockport,Mansfield,2,2,0,0,0,0
9,2005-08-06,Torquay,Notts County,0,0,0,0,0,0
10,2005-08-06,Wrexham,Boston,2,0,0,0,0,0
11,2005-08-06,Wycombe,Carlisle,1,1,0,0,0,0
12,2005-08-09,Bristol Rvs,Grimsby,1,2,1,1,1,1
13,2005-08-09,Bury,Leyton Orient,1,2,1,2,2,1
14,2005-08-09,Carlisle,Peterboro,1,0,1,0,1,1
15,2005-08-09,Chester,Lincoln,2,2,1,1,0,1
16,2005-08-09,Darlington,Stockport,2,0,1,2,1,2
17,2005-08-09,Macclesfield,Cheltenham,2,2,1,2,2,1
18,2005-08-09,Mansfield,Rushden & D,0,1,2,1,2,1
19,2005-08-09,Northampton,Barnet,1,2,1,1,1,1
20,2005-08-09,Notts County,Wrexham,1,0,0,2,0,0
21,2005-08-09,Rochdale,Wycombe,1,2,1,1,0,1
22,2005-08-10,Boston,Shrewsbury,1,1,0,0,2,1
23,2005-08-10,Oxford,Torquay,1,0,1,0,1,0
24,2005-08-13,Boston,Stockport,2,2,1,2,3,4
25,2005-08-13,Bristol Rvs,Peterboro,2,3,2,0,3,2
26,2005-08-13,Bury,Shrewsbury,2,0,2,1,4,2
27,2005-08-13,Carlisle,Barnet,1,3,2,3,1,2
28,2005-08-13,Darlington,Leyton Orient,0,1,3,4,1,2
29,2005-08-13,Mansfield,Torquay,3,0,2,0,3,1
30,2005-08-13,Northampton,Wrexham,0,0,2,2,3,1
31,2005-08-13,Notts County,Lincoln,2,1,1,3,0,3
32,2005-08-13,Oxford,Wycombe,2,2,2,3,1,2
33,2005-08-13,Rochdale,Cheltenham,1,1,2,4,2,3
34,2005-08-20,Barnet,Macclesfield,1,0,3,3,2,4
35,2005-08-20,Cheltenham,Boston,3,0,4,1,3,3
36,2005-08-20,Grimsby,Darlington,0,1,3,3,3,2
37,2005-08-20,Leyton Orient,Rochdale,1,4,5,3,2,3
38,2005-08-20,Lincoln,Oxford,2,1,4,4,5,3
39,2005-08-20,Peterboro,Mansfield,2,0,3,5,4,3
40,2005-08-20,Rushden & D,Chester,1,1,3,4,2,3
41,2005-08-20,Shrewsbury,Northampton,1,1,1,2,4,3
42,2005-08-20,Stockport,Notts County,1,1,4,3,6,1
43,2005-08-20,Torquay,Bristol Rvs,2,3,0,4,4,6
44,2005-08-20,Wrexham,Carlisle,0,1,2,3,1,4
45,2005-08-20,Wycombe,Bury,4,0,5,4,4,4
46,2005-08-27,Barnet,Grimsby,0,1,6,3,3,3
47,2005-08-27,Boston,Mansfield,2,2,3,5,5,3
48,2005-08-27,Bury,Wrexham,2,2,4,2,8,2
49,2005-08-27,Carlisle,Northampton,0,1,4,3,4,4
50,2005-08-27,Cheltenham,Leyton Orient,1,1,8,6,4,6
51,2005-08-27,Chester,Darlington,4,4,8,4,7,2
52,2005-08-27,Notts County,Bristol Rvs,2,0,4,7,2,8
53,2005-08-27,Oxford,Stockport,1,1,5,5,5,7
54,2005-08-27,Peterboro,Torquay,0,0,5,2,4,7
55,2005-08-27,Rochdale,Macclesfield,3,1,7,4,4,8
56,2005-08-27,Rushden & D,Lincoln,1,1,4,6,3,6
57,2005-08-27,Shrewsbury,Wycombe,1,1,2,9,5,4
58,2005-08-29,Darlington,Rochdale,2,1,4,7,2,4
59,2005-08-29,Grimsby,Rushden & D,2,0,4,4,3,3

Get Home and Away Shots

In [157]:
# Gets the shots fired agg arranged by teams and matchweek
def get_shots_fired(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHSF = playing_stat.iloc[i]['HS']
        # aggregated Home Team shots
        AGASF = playing_stat.iloc[i]['AS']
        # aggregated Away Team shots
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    ShotsFired = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    ShotsFired[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        ShotsFired[i] = ShotsFired[i] + ShotsFired[i-1]
    return ShotsFired




# Gets the goals conceded agg arranged by teams and matchweek
def get_shots_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGASC = playing_stat.iloc[i]['HS']
        # aggregated home team shots conceded
        AGHSC = playing_stat.iloc[i]['AS']
        # aggregated away team shots conceded
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSC)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    ShotsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    ShotsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        ShotsConceded[i] = ShotsConceded[i] + ShotsConceded[i-1]
    return ShotsConceded



def get_sf(playing_stat):
    SF = get_shots_fired(playing_stat)
    SC = get_shots_conceded(playing_stat)
   
    j = 0
    AGHSF = []
    AGASF = []
    AGHSC = []
    AGASC = []    

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHSF.append(SF.loc[ht][j])
        AGASF.append(SF.loc[at][j])
        AGHSC.append(SC.loc[ht][j])
        AGASC.append(SC.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHSF'] = AGHSF
    playing_stat['AGASF'] = AGASF
    playing_stat['AGHSC'] = AGHSC
    playing_stat['AGASC'] = AGASC
    return playing_stat

In [158]:
#playing_statistics_1 = get_sf(playing_statistics_1)
#playing_statistics_2 = get_sf(playing_statistics_2)
#playing_statistics_3 = get_sf(playing_statistics_3)
#playing_statistics_4 = get_sf(playing_statistics_4)
#playing_statistics_5 = get_sf(playing_statistics_5)
playing_statistics_6 = get_sf(playing_statistics_6)
playing_statistics_7 = get_sf(playing_statistics_7)
playing_statistics_8 = get_sf(playing_statistics_8)
playing_statistics_9 = get_sf(playing_statistics_9)
playing_statistics_10 = get_sf(playing_statistics_10)
playing_statistics_11 = get_sf(playing_statistics_11)
playing_statistics_12 = get_sf(playing_statistics_12)
playing_statistics_13 = get_sf(playing_statistics_13)
playing_statistics_14 = get_sf(playing_statistics_14)
playing_statistics_15 = get_sf(playing_statistics_15)
playing_statistics_16 = get_sf(playing_statistics_16)
playing_statistics_17 = get_sf(playing_statistics_17)
playing_statistics_18 = get_sf(playing_statistics_18)
playing_statistics_19 = get_sf(playing_statistics_19)
#playing_statistics_20 = get_sf(playing_statistics_20)

<ipython-input-157-fa8e73ff777f>:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSF'] = AGHSF
<ipython-input-157-fa8e73ff777f>:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASF'] = AGASF
<ipython-input-157-fa8e73ff777f>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSC'] = AGHSC
<ipython-input-157-fa8e73ff777f>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASC'] = AGASC

In [159]:
playing_statistics_9[['Date', "HomeTeam", "AwayTeam", "HS", "AS",'AGHSF', "AGASF", "AGHSC", "AGASC"]].head(50)

          Date      HomeTeam      AwayTeam  HS  AS  AGHSF  AGASF  AGHSC  AGASC
0   2008-08-09    Accrington     Aldershot  15   6      0      0      0      0
1   2008-08-09        Barnet  Chesterfield   9  10      0      0      0      0
2   2008-08-09   Bournemouth    Gillingham   8  17      0      0      0      0
3   2008-08-09      Bradford  Notts County  14   6      0      0      0      0
4   2008-08-09          Bury     Brentford   7  12      0      0      0      0
5   2008-08-09   Dag and Red       Chester  12   8      0      0      0      0
6   2008-08-09    Darlington        Exeter   6  11      0      0      0      0
7   2008-08-09       Grimsby      Rochdale   8  11      0      0      0      0
8   2008-08-09         Luton     Port Vale  17   8      0      0      0      0
9   2008-08-09     Rotherham       Lincoln  15  16      0      0      0      0
10  2008-08-09    Shrewsbury  Macclesfield  19   9      0      0      0      0
11  2008-08-09       Wycombe     Morecambe   4   4      0      0      0      0
12  2008-08-16     Aldershot   Bournemouth   9   8      6      8     15     17
13  2008-08-16     Brentford       Grimsby   7   4     12      8      7     11
14  2008-08-16       Chester       Wycombe  10   8      8      4     12      4
15  2008-08-16  Chesterfield          Bury   8   7     10      7      9     12
16  2008-08-16        Exeter    Shrewsbury  16   6     11     19      6      9
17  2008-08-16    Gillingham         Luton  15  10     17     17      8      8
18  2008-08-16       Lincoln   Dag and Red   6   9     16     12     15      8
19  2008-08-16  Macclesfield      Bradford  12  17      9     14     19      6
20  2008-08-16     Morecambe     Rotherham  11  14      4     15      4     16
21  2008-08-16  Notts County    Darlington  12   9      6      6     14     11
22  2008-08-16     Port Vale    Accrington   5   7      8     15     17      6
23  2008-08-16      Rochdale        Barnet  13   7     11      9      8     10
24  2008-08-23    Accrington  Macclesfield  13   9     22     21     11     36
25  2008-08-23        Barnet     Brentford   7   6     16     19     23     11
26  2008-08-23   Bournemouth        Exeter  12  12     16     27     26     12
27  2008-08-23      Bradford      Rochdale   9  10     31     24     18     15
28  2008-08-23          Bury     Morecambe   5   7     14     15     20     18
29  2008-08-23   Dag and Red     Port Vale   9   9     21     13     14     24
30  2008-08-23    Darlington    Gillingham  12   7     15     32     23     18
31  2008-08-23       Grimsby  Chesterfield  10  16     12     18     18     16
32  2008-08-23         Luton  Notts County  13   9     27     18     23     23
33  2008-08-23     Rotherham       Chester  11   9     29     18     27     20
34  2008-08-23    Shrewsbury     Aldershot   9   6     25     15     25     23
35  2008-08-23       Wycombe       Lincoln   9   6     12     22     14     24
36  2008-08-30     Aldershot      Bradford  11   5     21     40     32     28
37  2008-08-30     Brentford     Rotherham   7   1     25     40     18     36
38  2008-08-30       Chester        Barnet  21   8     27     23     31     29
39  2008-08-30  Chesterfield       Wycombe  13   3     34     21     26     20
40  2008-08-30        Exeter         Luton   9   7     39     40     24     32
41  2008-08-30    Gillingham    Accrington  20   7     39     35     30     20
42  2008-08-30       Lincoln       Grimsby  11  10     28     22     33     34
43  2008-08-30  Macclesfield    Darlington  10  10     30     27     49     30
44  2008-08-30     Morecambe   Dag and Red  16  11     22     30     23     23
45  2008-08-30  Notts County    Shrewsbury  14   7     27     34     36     31
46  2008-08-30     Port Vale   Bournemouth   8   6     22     28     33     38
47  2008-08-30      Rochdale          Bury  12  11     34     19     24     27
48  2008-09-06     Aldershot    Darlington  15   2     32     37     37     40
49  2008-09-06     Brentford   Dag and Red   8  10     32     41     19     39

Team Shots on Taget

In [160]:
# Gets the shots fired on target agg arranged by teams and matchweek
def get_shots_fired_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHSTF = playing_stat.iloc[i]['HST']
        # aggregated Home Team shots on Taget
        AGASTF = playing_stat.iloc[i]['AST']
        # aggregated Away Team shots on Taget
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSTF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASTF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    ShotsFired = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    ShotsFired[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        ShotsFired[i] = ShotsFired[i] + ShotsFired[i-1]
    return ShotsFired

# Gets the goals conceded agg on target arranged by teams and matchweek
def get_shots_conceded_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGASTC = playing_stat.iloc[i]['HST']
        # aggregated home team shots conceded
        AGHSTC = playing_stat.iloc[i]['AST']
        # aggregated away team shots conceded
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSTC)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASTC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    ShotsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    ShotsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        ShotsConceded[i] = ShotsConceded[i] + ShotsConceded[i-1]
    return ShotsConceded

def get_sf_target(playing_stat):
    SFT = get_shots_fired_target(playing_stat)
    SCT = get_shots_conceded_target(playing_stat)
    
    j = 0
    AGHSTF = []
    AGASTF = []
    AGHSTC = []
    AGASTC = []  

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHSTF.append(SFT.loc[ht][j])
        AGASTF.append(SFT.loc[at][j])
        AGHSTC.append(SCT.loc[ht][j])
        AGASTC.append(SCT.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHSTF'] = AGHSTF
    playing_stat['AGASTF'] = AGASTF
    playing_stat['AGHSTC'] = AGHSTC
    playing_stat['AGASTC'] = AGASTC
    
    return playing_stat

In [161]:
#playing_statistics_1 = get_sf_target(playing_statistics_1)
#playing_statistics_2 = get_sf_target(playing_statistics_2)
#playing_statistics_3 = get_sf_target(playing_statistics_3)
#playing_statistics_4 = get_sf_target(playing_statistics_4)
#playing_statistics_5 = get_sf_target(playing_statistics_5)
playing_statistics_6 = get_sf_target(playing_statistics_6)
playing_statistics_7 = get_sf_target(playing_statistics_7)
playing_statistics_8 = get_sf_target(playing_statistics_8)
playing_statistics_9 = get_sf_target(playing_statistics_9)
playing_statistics_10 = get_sf_target(playing_statistics_10)
playing_statistics_11 = get_sf_target(playing_statistics_11)
playing_statistics_12 = get_sf_target(playing_statistics_12)
playing_statistics_13 = get_sf_target(playing_statistics_13)
playing_statistics_14 = get_sf_target(playing_statistics_14)
playing_statistics_15 = get_sf_target(playing_statistics_15)
playing_statistics_16 = get_sf_target(playing_statistics_16)
playing_statistics_17 = get_sf_target(playing_statistics_17)
playing_statistics_18 = get_sf_target(playing_statistics_18)
playing_statistics_19 = get_sf_target(playing_statistics_19)
#playing_statistics_20 = get_sf_target(playing_statistics_20)

<ipython-input-160-a9690f62e333>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSTF'] = AGHSTF
<ipython-input-160-a9690f62e333>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASTF'] = AGASTF
<ipython-input-160-a9690f62e333>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSTC'] = AGHSTC
<ipython-input-160-a9690f62e333>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASTC'] = AGASTC

In [162]:
playing_statistics_7[['Date', "HomeTeam", "AwayTeam", "HST", "AST",'AGHSTF', "AGASTF", "AGHSTC", "AGASTC"]].head(60)

,Date,HomeTeam,AwayTeam,HST,AST,AGHSTF,AGASTF,AGHSTC,AGASTC
0,2006-08-05,Barnet,Torquay,6,4,0,0,0,0
1,2006-08-05,Chester,Accrington,1,1,0,0,0,0
2,2006-08-05,Darlington,Macclesfield,11,8,0,0,0,0
3,2006-08-05,Grimsby,Boston,5,6,0,0,0,0
4,2006-08-05,Hartlepool,Swindon,10,3,0,0,0,0
5,2006-08-05,Lincoln,Notts County,4,2,0,0,0,0
6,2006-08-05,Milton Keynes Dons,Bury,8,8,0,0,0,0
7,2006-08-05,Peterboro,Bristol Rvs,11,3,0,0,0,0
8,2006-08-05,Rochdale,Walsall,6,7,0,0,0,0
9,2006-08-05,Shrewsbury,Mansfield,11,7,0,0,0,0
10,2006-08-05,Stockport,Hereford,3,2,0,0,0,0
11,2006-08-05,Wycombe,Wrexham,2,3,0,0,0,0
12,2006-08-08,Accrington,Darlington,1,10,1,11,1,8
13,2006-08-08,Bristol Rvs,Wycombe,2,2,3,2,11,3
14,2006-08-08,Bury,Chester,3,9,8,1,8,1
15,2006-08-08,Hereford,Lincoln,9,5,2,4,3,2
16,2006-08-08,Macclesfield,Hartlepool,4,5,8,10,11,3
17,2006-08-08,Mansfield,Milton Keynes Dons,7,3,7,8,11,8
18,2006-08-08,Notts County,Shrewsbury,2,1,2,11,4,7
19,2006-08-08,Swindon,Barnet,3,1,3,6,10,4
20,2006-08-08,Torquay,Rochdale,9,3,4,6,6,7
21,2006-08-08,Walsall,Stockport,7,6,7,3,6,2
22,2006-08-08,Wrexham,Grimsby,4,2,3,5,2,6
23,2006-08-09,Boston,Peterboro,4,4,6,11,5,3
24,2006-08-12,Accrington,Barnet,6,4,2,7,11,7
25,2006-08-12,Boston,Darlington,7,4,10,21,9,9
26,2006-08-12,Bristol Rvs,Grimsby,6,6,5,7,13,10
27,2006-08-12,Bury,Shrewsbury,3,5,11,12,17,9
28,2006-08-12,Hereford,Chester,4,1,11,10,8,4
29,2006-08-12,Macclesfield,Milton Keynes Dons,7,8,12,11,16,15
30,2006-08-12,Mansfield,Stockport,12,2,14,9,14,9
31,2006-08-12,Notts County,Wycombe,4,6,4,4,5,5
32,2006-08-12,Swindon,Rochdale,2,3,6,9,11,16
33,2006-08-12,Torquay,Lincoln,3,6,13,9,9,11
34,2006-08-12,Walsall,Hartlepool,4,3,14,15,12,7
35,2006-08-12,Wrexham,Peterboro,4,2,7,15,4,7
36,2006-08-18,Grimsby,Mansfield,6,4,13,26,16,16
37,2006-08-18,Stockport,Accrington,3,7,11,8,21,15
38,2006-08-19,Barnet,Hereford,6,5,11,15,13,9
39,2006-08-19,Darlington,Swindon,7,11,25,8,16,14
40,2006-08-19,Hartlepool,Torquay,9,2,18,16,11,15
41,2006-08-19,Lincoln,Walsall,5,3,15,18,14,15
42,2006-08-19,Milton Keynes Dons,Bristol Rvs,7,2,19,11,22,19
43,2006-08-19,Peterboro,Macclesfield,3,4,17,19,11,24
44,2006-08-19,Rochdale,Notts County,5,10,12,8,18,11
45,2006-08-19,Shrewsbury,Boston,3,2,17,17,12,13
46,2006-08-19,Wycombe,Bury,7,0,10,14,9,22
47,2006-08-20,Chester,Wrexham,6,3,11,11,8,6
48,2006-08-26,Accrington,Rochdale,9,2,15,17,18,28
49,2006-08-26,Boston,Milton Keynes Dons,4,1,19,26,16,24
50,2006-08-26,Bristol Rvs,Shrewsbury,2,2,13,20,26,14
51,2006-08-26,Bury,Grimsby,5,3,14,19,29,20
52,2006-08-26,Hereford,Hartlepool,5,8,20,27,15,13
53,2006-08-26,Macclesfield,Wycombe,3,6,23,17,27,9
54,2006-08-26,Mansfield,Lincoln,11,3,30,20,22,17
55,2006-08-26,Notts County,Peterboro,6,1,18,20,16,15
56,2006-08-26,Swindon,Stockport,6,3,19,14,21,28
57,2006-08-26,Torquay,Chester,6,6,18,17,24,11
58,2006-08-26,Walsall,Darlington,5,5,21,32,20,27
59,2006-08-26,Wrexham,Barnet,2,2,14,17,12,18

Team Fouls Committed

In [163]:
# Gets the shots fired on target agg arranged by teams and matchweek
def get_fouls(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHF = playing_stat.iloc[i]['HF']
        # aggregated Home Team Fouls
        AGAF = playing_stat.iloc[i]['AF']
        # aggregated Away Team Fouls
        teams[playing_stat.iloc[i].HomeTeam].append(AGHF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGAF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Fouls = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    Fouls[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        Fouls[i] = Fouls[i] + Fouls[i-1]
    return Fouls


def get_fouls_agg(playing_stat):
    FA = get_fouls(playing_stat)
   
    j = 0
    AGHF = []
    AGAF = []

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHF.append(FA.loc[ht][j])
        AGAF.append(FA.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHF'] = AGHF
    playing_stat['AGAF'] = AGAF
    return playing_stat

In [164]:
#playing_statistics_1 = get_fouls_agg(playing_statistics_1)
#playing_statistics_2 = get_fouls_agg(playing_statistics_2)
#playing_statistics_3 = get_fouls_agg(playing_statistics_3)
#playing_statistics_4 = get_fouls_agg(playing_statistics_4)
#playing_statistics_5 = get_fouls_agg(playing_statistics_5)
playing_statistics_6 = get_fouls_agg(playing_statistics_6)
playing_statistics_7 = get_fouls_agg(playing_statistics_7)
playing_statistics_8 = get_fouls_agg(playing_statistics_8)
playing_statistics_9 = get_fouls_agg(playing_statistics_9)
playing_statistics_10 = get_fouls_agg(playing_statistics_10)
playing_statistics_11 = get_fouls_agg(playing_statistics_11)
playing_statistics_12 = get_fouls_agg(playing_statistics_12)
playing_statistics_13 = get_fouls_agg(playing_statistics_13)
playing_statistics_14 = get_fouls_agg(playing_statistics_14)
playing_statistics_15 = get_fouls_agg(playing_statistics_15)
playing_statistics_16 = get_fouls_agg(playing_statistics_16)
playing_statistics_17 = get_fouls_agg(playing_statistics_17)
playing_statistics_18 = get_fouls_agg(playing_statistics_18)
playing_statistics_19 = get_fouls_agg(playing_statistics_19)
#playing_statistics_20 = get_fouls_agg(playing_statistics_20)

<ipython-input-163-50791aa5674b>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHF'] = AGHF
<ipython-input-163-50791aa5674b>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGAF'] = AGAF

In [165]:
playing_statistics_15[['Date', "HomeTeam", "AwayTeam", "HF", "AF",'AGHF', "AGAF"]].head(60)

          Date        HomeTeam        AwayTeam  HF  AF  AGHF  AGAF
0   2014-08-09      Accrington        Southend  13   8     0     0
1   2014-08-09   AFC Wimbledon      Shrewsbury  10  10     0     0
2   2014-08-09            Bury      Cheltenham   4   9     0     0
3   2014-08-09       Cambridge        Plymouth   5  12     0     0
4   2014-08-09        Carlisle           Luton   4   5     0     0
5   2014-08-09     Dag and Red       Morecambe   7  12     0     0
6   2014-08-09          Exeter      Portsmouth   4  11     0     0
7   2014-08-09  Newport County         Wycombe  16  18     0     0
8   2014-08-09     Northampton       Mansfield   9  12     0     0
9   2014-08-09          Oxford          Burton  10  13     0     0
10  2014-08-09       Stevenage      Hartlepool   9  12     0     0
11  2014-08-09        Tranmere            York   5  12     0     0
12  2014-08-16          Burton     Dag and Red  11   7    13     7
13  2014-08-16      Cheltenham      Accrington  13   6     9    13
14  2014-08-16      Hartlepool            Bury  16  13    12     4
15  2014-08-16           Luton   AFC Wimbledon   6  14     5    10
16  2014-08-16       Mansfield          Oxford  12  15    12    10
17  2014-08-16       Morecambe  Newport County   8  18    12    16
18  2014-08-16        Plymouth          Exeter  13  12    12     4
19  2014-08-16      Portsmouth       Cambridge  10   6    11     5
20  2014-08-16      Shrewsbury        Tranmere  13  10    10     5
21  2014-08-16        Southend       Stevenage  10  17     8     9
22  2014-08-16         Wycombe        Carlisle  10  11    18     4
23  2014-08-16            York     Northampton  11  11    12     9
24  2014-08-19          Burton          Exeter   9   6    24    16
25  2014-08-19      Cheltenham        Carlisle  12  10    22    15
26  2014-08-19      Hartlepool     Dag and Red  11   9    28    14
27  2014-08-19           Luton            Bury  14  13    11    17
28  2014-08-19       Mansfield  Newport County  12  11    24    34
29  2014-08-19       Morecambe          Oxford  11   9    20    25
30  2014-08-19        Plymouth       Stevenage  17  13    25    26
31  2014-08-19      Portsmouth     Northampton   7   8    21    20
32  2014-08-19      Shrewsbury      Accrington   6  12    23    19
33  2014-08-19        Southend   AFC Wimbledon   8  15    18    24
34  2014-08-19         Wycombe        Tranmere   2   7    28    15
35  2014-08-19            York       Cambridge  13  14    23    11
36  2014-08-23      Accrington           Luton   7  11    31    25
37  2014-08-23   AFC Wimbledon      Hartlepool   5   5    39    39
38  2014-08-23            Bury        Plymouth  11  17    30    42
39  2014-08-23       Cambridge       Morecambe  12  16    25    31
40  2014-08-23        Carlisle        Southend   9  13    25    26
41  2014-08-23     Dag and Red       Mansfield  13  12    23    36
42  2014-08-23          Exeter            York   9   9    22    36
43  2014-08-23  Newport County          Burton  12   7    45    33
44  2014-08-23     Northampton      Shrewsbury  10   8    28    29
45  2014-08-23          Oxford      Portsmouth   5  10    34    28
46  2014-08-23       Stevenage         Wycombe  12  13    39    30
47  2014-08-23        Tranmere      Cheltenham   4  10    22    34
48  2014-08-30   AFC Wimbledon       Stevenage  12   8    44    51
49  2014-08-30            Bury      Accrington  13   9    41    38
50  2014-08-30       Cambridge        Carlisle  15  12    37    34
51  2014-08-30      Cheltenham      Hartlepool  12  13    44    44
52  2014-08-30       Mansfield          Burton  16  13    48    40
53  2014-08-30     Northampton          Exeter  11   9    38    31
54  2014-08-30          Oxford     Dag and Red  11  11    39    36
55  2014-08-30        Plymouth        Southend  13   6    59    39
56  2014-08-30      Portsmouth  Newport County  13  17    38    57
57  2014-08-30      Shrewsbury           Luton   4  11    37    36
58  2014-08-30        Tranmere       Morecambe  12  12    26    47
59  2014-08-30            York         Wycombe  16  13    45    43

Team Corners

In [166]:
# Gets the shots fired on target agg arranged by teams and matchweek
def get_corners_fired(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHCF = playing_stat.iloc[i]['HC']
        # aggregated Home Team corners
        AGACF = playing_stat.iloc[i]['AC']
        # aggregated Away Team corners
        teams[playing_stat.iloc[i].HomeTeam].append(AGHCF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGACF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Corners = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    Corners[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        Corners[i] = Corners[i] + Corners[i-1]
    return Corners

def get_corners_conceived(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGACC = playing_stat.iloc[i]['HC']
        # aggregated Home Team corners
        AGHCC = playing_stat.iloc[i]['AC']
        # aggregated Away Team corners
        teams[playing_stat.iloc[i].HomeTeam].append(AGHCC)
        teams[playing_stat.iloc[i].AwayTeam].append(AGACC)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Corners = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    Corners[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        Corners[i] = Corners[i] + Corners[i-1]
    return Corners


def get_corners_agg(playing_stat):
    CF = get_corners_fired(playing_stat)
    CC = get_corners_conceived(playing_stat)
   
    j = 0
    AGHCF = []
    AGACF = []
    AGHCC = []
    AGACC = []

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHCF.append(CF.loc[ht][j])
        AGACF.append(CF.loc[at][j])
        AGHCC.append(CC.loc[ht][j])
        AGACC.append(CC.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHCF'] = AGHCF
    playing_stat['AGACF'] = AGACF
    playing_stat['AGHCC'] = AGHCC
    playing_stat['AGACC'] = AGACC
    
    return playing_stat

In [167]:
#playing_statistics_1 = get_corners_agg(playing_statistics_1)
#playing_statistics_2 = get_corners_agg(playing_statistics_2)
#playing_statistics_3 = get_corners_agg(playing_statistics_3)
#playing_statistics_4 = get_corners_agg(playing_statistics_4)
#playing_statistics_5 = get_corners_agg(playing_statistics_5)
playing_statistics_6 = get_corners_agg(playing_statistics_6)
playing_statistics_7 = get_corners_agg(playing_statistics_7)
playing_statistics_8 = get_corners_agg(playing_statistics_8)
playing_statistics_9 = get_corners_agg(playing_statistics_9)
playing_statistics_10 = get_corners_agg(playing_statistics_10)
playing_statistics_11 = get_corners_agg(playing_statistics_11)
playing_statistics_12 = get_corners_agg(playing_statistics_12)
playing_statistics_13 = get_corners_agg(playing_statistics_13)
playing_statistics_14 = get_corners_agg(playing_statistics_14)
playing_statistics_15 = get_corners_agg(playing_statistics_15)
playing_statistics_16 = get_corners_agg(playing_statistics_16)
playing_statistics_17 = get_corners_agg(playing_statistics_17)
playing_statistics_18 = get_corners_agg(playing_statistics_18)
playing_statistics_19 = get_corners_agg(playing_statistics_19)
#playing_statistics_20 = get_corners_agg(playing_statistics_20)

<ipython-input-166-953c7a50bd5b>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHCF'] = AGHCF
<ipython-input-166-953c7a50bd5b>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGACF'] = AGACF
<ipython-input-166-953c7a50bd5b>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHCC'] = AGHCC
<ipython-input-166-953c7a50bd5b>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGACC'] = AGACC

In [168]:
playing_statistics_8[['Date', "HomeTeam", "AwayTeam", "HC", "AC",'AGHCF', "AGACF", "AGHCC", "AGACC"]].head(50)

,Date,HomeTeam,AwayTeam,HC,AC,AGHCF,AGACF,AGHCC,AGACC
0,2007-08-11,Bradford,Macclesfield,6,4,0,0,0,0
1,2007-08-11,Brentford,Mansfield,7,4,0,0,0,0
2,2007-08-11,Chester,Chesterfield,3,7,0,0,0,0
3,2007-08-11,Darlington,Wrexham,2,9,0,0,0,0
4,2007-08-11,Grimsby,Notts County,5,9,0,0,0,0
5,2007-08-11,Hereford,Rotherham,7,6,0,0,0,0
6,2007-08-11,Lincoln,Shrewsbury,11,3,0,0,0,0
7,2007-08-11,Milton Keynes Dons,Bury,5,4,0,0,0,0
8,2007-08-11,Morecambe,Barnet,6,7,0,0,0,0
9,2007-08-11,Peterboro,Rochdale,5,2,0,0,0,0
10,2007-08-11,Stockport,Dag and Red,7,6,0,0,0,0
11,2007-08-11,Wycombe,Accrington,8,5,0,0,0,0
12,2007-08-18,Accrington,Darlington,6,6,5,2,8,9
13,2007-08-18,Barnet,Hereford,2,5,7,7,6,6
14,2007-08-18,Bury,Grimsby,9,5,4,5,5,9
15,2007-08-18,Chesterfield,Stockport,9,3,7,7,3,6
16,2007-08-18,Dag and Red,Wycombe,7,1,6,8,7,5
17,2007-08-18,Macclesfield,Milton Keynes Dons,2,13,4,5,6,4
18,2007-08-18,Mansfield,Lincoln,7,8,4,11,7,3
19,2007-08-18,Notts County,Brentford,9,4,9,7,5,4
20,2007-08-18,Rochdale,Chester,12,4,2,3,5,7
21,2007-08-18,Shrewsbury,Bradford,8,5,3,6,11,4
22,2007-08-18,Wrexham,Morecambe,3,2,9,6,2,7
23,2007-08-19,Rotherham,Peterboro,8,8,6,5,7,2
24,2007-08-25,Bradford,Wrexham,6,6,11,12,12,4
25,2007-08-25,Brentford,Barnet,11,7,11,9,13,11
26,2007-08-25,Chester,Dag and Red,5,7,7,13,19,8
27,2007-08-25,Darlington,Notts County,4,3,8,18,15,9
28,2007-08-25,Grimsby,Macclesfield,9,6,10,6,18,19
29,2007-08-25,Hereford,Rochdale,12,2,12,14,8,9
30,2007-08-25,Lincoln,Accrington,12,3,19,11,10,14
31,2007-08-25,Milton Keynes Dons,Shrewsbury,7,3,18,11,6,16
32,2007-08-25,Morecambe,Mansfield,10,5,8,11,10,15
33,2007-08-25,Peterboro,Chesterfield,11,2,13,16,10,6
34,2007-08-25,Stockport,Rotherham,2,5,10,14,15,15
35,2007-08-25,Wycombe,Bury,10,4,9,13,12,10
36,2007-09-01,Accrington,Peterboro,5,7,14,24,26,12
37,2007-09-01,Barnet,Bradford,5,4,16,17,22,18
38,2007-09-01,Bury,Brentford,7,2,17,22,20,20
39,2007-09-01,Chesterfield,Wycombe,0,6,18,19,17,16
40,2007-09-01,Dag and Red,Lincoln,11,8,20,31,13,13
41,2007-09-01,Macclesfield,Darlington,8,8,12,12,28,18
42,2007-09-01,Mansfield,Stockport,6,9,16,12,25,20
43,2007-09-01,Notts County,Morecambe,8,5,21,18,13,15
44,2007-09-01,Rochdale,Milton Keynes Dons,1,5,16,25,21,9
45,2007-09-01,Rotherham,Chester,10,7,19,12,17,26
46,2007-09-01,Shrewsbury,Grimsby,10,4,14,19,23,24
47,2007-09-01,Wrexham,Hereford,7,4,18,24,10,10
48,2007-09-07,Chester,Morecambe,3,3,19,23,36,23
49,2007-09-07,Chesterfield,Bury,7,4,18,24,23,22

Yellow Cards

In [169]:
# Gets yellow cards agg arranged by teams and matchweek
def get_yellow(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHY = playing_stat.iloc[i]['HY']
        # aggregated Home Team yellow cards
        AGAY = playing_stat.iloc[i]['AY']
        # aggregated Away Team yellow cards
        teams[playing_stat.iloc[i].HomeTeam].append(AGHY)
        teams[playing_stat.iloc[i].AwayTeam].append(AGAY)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Yellow = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    Yellow[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        Yellow[i] = Yellow[i] + Yellow[i-1]
    return Yellow


def get_yellow_agg(playing_stat):
    Y = get_yellow(playing_stat)
   
    j = 0
    AGHY = []
    AGAY = []

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHY.append(Y.loc[ht][j])
        AGAY.append(Y.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHY'] = AGHY
    playing_stat['AGAY'] = AGAY
    return playing_stat

In [170]:
#playing_statistics_1 = get_yellow_agg(playing_statistics_1)
#playing_statistics_2 = get_yellow_agg(playing_statistics_2)
#playing_statistics_3 = get_yellow_agg(playing_statistics_3)
#playing_statistics_4 = get_yellow_agg(playing_statistics_4)
#playing_statistics_5 = get_yellow_agg(playing_statistics_5)
playing_statistics_6 = get_yellow_agg(playing_statistics_6)
playing_statistics_7 = get_yellow_agg(playing_statistics_7)
playing_statistics_8 = get_yellow_agg(playing_statistics_8)
playing_statistics_9 = get_yellow_agg(playing_statistics_9)
playing_statistics_10 = get_yellow_agg(playing_statistics_10)
playing_statistics_11 = get_yellow_agg(playing_statistics_11)
playing_statistics_12 = get_yellow_agg(playing_statistics_12)
playing_statistics_13 = get_yellow_agg(playing_statistics_13)
playing_statistics_14 = get_yellow_agg(playing_statistics_14)
playing_statistics_15 = get_yellow_agg(playing_statistics_15)
playing_statistics_16 = get_yellow_agg(playing_statistics_16)
playing_statistics_17 = get_yellow_agg(playing_statistics_17)
playing_statistics_18 = get_yellow_agg(playing_statistics_18)
playing_statistics_19 = get_yellow_agg(playing_statistics_19)
#playing_statistics_20 = get_yellow_agg(playing_statistics_20)

<ipython-input-169-90c824296a85>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHY'] = AGHY
<ipython-input-169-90c824296a85>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGAY'] = AGAY

In [171]:
playing_statistics_13[['Date', "HomeTeam", "AwayTeam", "HY", "AY",'AGHY', "AGAY"]].head(50)

          Date        HomeTeam        AwayTeam   HY   AY  AGHY  AGAY
0   2012-08-18   AFC Wimbledon    Chesterfield  1.0  2.0   0.0   0.0
1   2012-08-18     Bristol Rvs          Oxford  1.0  3.0   0.0   0.0
2   2012-08-18      Cheltenham     Dag and Red  1.0  2.0   0.0   0.0
3   2012-08-18          Exeter       Morecambe  2.0  2.0   0.0   0.0
4   2012-08-18  Fleetwood Town         Torquay  1.0  0.0   0.0   0.0
5   2012-08-18      Gillingham        Bradford  2.0  0.0   0.0   0.0
6   2012-08-18        Plymouth       Aldershot  2.0  1.0   0.0   0.0
7   2012-08-18       Port Vale          Barnet  0.0  0.0   0.0   0.0
8   2012-08-18        Rochdale     Northampton  1.0  1.0   0.0   0.0
9   2012-08-18       Rotherham          Burton  1.0  2.0   0.0   0.0
10  2012-08-18        Southend      Accrington  1.0  2.0   0.0   0.0
11  2012-08-18            York         Wycombe  2.0  1.0   0.0   0.0
12  2012-08-21      Accrington       Port Vale  2.0  3.0   2.0   0.0
13  2012-08-21       Aldershot          Exeter  1.0  1.0   1.0   2.0
14  2012-08-21          Barnet     Bristol Rvs  1.0  3.0   0.0   1.0
15  2012-08-21        Bradford  Fleetwood Town  0.0  3.0   0.0   1.0
16  2012-08-21          Burton   AFC Wimbledon  0.0  2.0   2.0   1.0
17  2012-08-21    Chesterfield        Rochdale  2.0  2.0   2.0   1.0
18  2012-08-21     Dag and Red        Plymouth  2.0  2.0   2.0   2.0
19  2012-08-21       Morecambe            York  0.0  1.0   2.0   2.0
20  2012-08-21     Northampton       Rotherham  3.0  0.0   1.0   1.0
21  2012-08-21          Oxford        Southend  0.0  1.0   3.0   1.0
22  2012-08-21         Torquay      Cheltenham  0.0  1.0   0.0   1.0
23  2012-08-21         Wycombe      Gillingham  1.0  1.0   1.0   2.0
24  2012-08-25      Accrington          Exeter  0.0  1.0   4.0   3.0
25  2012-08-25       Aldershot      Cheltenham  5.0  2.0   2.0   2.0
26  2012-08-25          Barnet            York  0.0  0.0   1.0   3.0
27  2012-08-25        Bradford   AFC Wimbledon  0.0  1.0   0.0   3.0
28  2012-08-25          Burton  Fleetwood Town  0.0  1.0   2.0   4.0
29  2012-08-25    Chesterfield       Rotherham  2.0  2.0   4.0   1.0
30  2012-08-25     Dag and Red      Gillingham  1.0  1.0   4.0   3.0
31  2012-08-25       Morecambe       Port Vale  1.0  1.0   2.0   3.0
32  2012-08-25     Northampton        Southend  2.0  2.0   4.0   2.0
33  2012-08-25          Oxford        Plymouth  0.0  3.0   3.0   4.0
34  2012-08-25         Torquay        Rochdale  1.0  3.0   0.0   3.0
35  2012-09-01   AFC Wimbledon     Dag and Red  0.0  0.0   3.0   4.0
36  2012-09-01     Bristol Rvs       Morecambe  3.0  2.0   7.0   3.0
37  2012-09-01      Cheltenham      Accrington  1.0  2.0   4.0   4.0
38  2012-09-01          Exeter          Burton  0.0  0.0   4.0   2.0
39  2012-09-01  Fleetwood Town       Aldershot  2.0  3.0   5.0   7.0
40  2012-09-01      Gillingham    Chesterfield  1.0  3.0   4.0   6.0
41  2012-09-01        Plymouth     Northampton  1.0  0.0   7.0   6.0
42  2012-09-01       Port Vale         Torquay  0.0  1.0   4.0   1.0
43  2012-09-01        Rochdale          Barnet  1.0  0.0   6.0   1.0
44  2012-09-01       Rotherham        Bradford  1.0  3.0   3.0   0.0
45  2012-09-01        Southend         Wycombe  4.0  3.0   4.0   5.0
46  2012-09-01            York          Oxford  1.0  0.0   3.0   3.0
47  2012-09-08      Accrington        Bradford  1.0  1.0   4.0   0.0
48  2012-09-08          Barnet      Gillingham  1.0  2.0   1.0   5.0
49  2012-09-08     Bristol Rvs       Aldershot  3.0  1.0  10.0  10.0

Red cards

In [172]:
# Gets red cards agg arranged by teams and matchweek
def get_red(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHR = playing_stat.iloc[i]['HR']
        # aggregated Home Team yellow cards
        AGAR = playing_stat.iloc[i]['AR']
        # aggregated Away Team yellow cards
        teams[playing_stat.iloc[i].HomeTeam].append(AGHR)
        teams[playing_stat.iloc[i].AwayTeam].append(AGAR)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Red = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    Red[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        Red[i] = Red[i] + Red[i-1]
    return Red


def get_red_agg(playing_stat):
    R = get_red(playing_stat)
   
    j = 0
    AGHR = []
    AGAR = []

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHR.append(R.loc[ht][j])
        AGAR.append(R.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHR'] = AGHR
    playing_stat['AGAR'] = AGAR
    return playing_stat

In [173]:
#playing_statistics_1 = get_red_agg(playing_statistics_1)
#playing_statistics_2 = get_red_agg(playing_statistics_2)
#playing_statistics_3 = get_red_agg(playing_statistics_3)
#playing_statistics_4 = get_red_agg(playing_statistics_4)
#playing_statistics_5 = get_red_agg(playing_statistics_5)
playing_statistics_6 = get_red_agg(playing_statistics_6)
playing_statistics_7 = get_red_agg(playing_statistics_7)
playing_statistics_8 = get_red_agg(playing_statistics_8)
playing_statistics_9 = get_red_agg(playing_statistics_9)
playing_statistics_10 = get_red_agg(playing_statistics_10)
playing_statistics_11 = get_red_agg(playing_statistics_11)
playing_statistics_12 = get_red_agg(playing_statistics_12)
playing_statistics_13 = get_red_agg(playing_statistics_13)
playing_statistics_14 = get_red_agg(playing_statistics_14)
playing_statistics_15 = get_red_agg(playing_statistics_15)
playing_statistics_16 = get_red_agg(playing_statistics_16)
playing_statistics_17 = get_red_agg(playing_statistics_17)
playing_statistics_18 = get_red_agg(playing_statistics_18)
playing_statistics_19 = get_red_agg(playing_statistics_19)
#playing_statistics_20 = get_red_agg(playing_statistics_20)

<ipython-input-172-c304fdc9736d>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHR'] = AGHR
<ipython-input-172-c304fdc9736d>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGAR'] = AGAR

In [174]:
playing_statistics_10[['Date', "HomeTeam", "AwayTeam", "HR", "AR",'AGHR', "AGAR"]].head(60)

          Date      HomeTeam      AwayTeam  HR  AR  AGHR  AGAR
0   2009-08-08     Aldershot    Darlington   0   0     0     0
1   2009-08-08          Bury   Bournemouth   0   0     0     0
2   2009-08-08    Cheltenham       Grimsby   0   0     0     0
3   2009-08-08         Crewe   Dag and Red   0   0     0     0
4   2009-08-08       Lincoln        Barnet   0   0     0     0
5   2009-08-08     Morecambe      Hereford   0   0     0     0
6   2009-08-08   Northampton  Macclesfield   0   0     0     0
7   2009-08-08  Notts County      Bradford   0   0     0     0
8   2009-08-08     Port Vale      Rochdale   0   0     0     0
9   2009-08-08     Rotherham    Accrington   0   0     0     0
10  2009-08-08    Shrewsbury        Burton   0   0     0     0
11  2009-08-08       Torquay  Chesterfield   0   0     0     0
12  2009-08-15    Accrington       Lincoln   0   0     0     0
13  2009-08-15        Barnet    Shrewsbury   0   0     0     0
14  2009-08-15   Bournemouth     Rotherham   0   0     0     0
15  2009-08-15      Bradford     Port Vale   0   0     0     0
16  2009-08-15        Burton     Morecambe   0   1     0     0
17  2009-08-15  Chesterfield   Northampton   0   0     0     0
18  2009-08-15   Dag and Red       Torquay   0   0     0     0
19  2009-08-15    Darlington          Bury   0   0     0     0
20  2009-08-15       Grimsby         Crewe   0   0     0     0
21  2009-08-15      Hereford    Cheltenham   0   0     0     0
22  2009-08-15  Macclesfield  Notts County   0   0     0     0
23  2009-08-15      Rochdale     Aldershot   1   0     0     0
24  2009-08-18    Accrington   Northampton   0   0     0     0
25  2009-08-18        Barnet     Morecambe   0   0     0     1
26  2009-08-18   Bournemouth     Aldershot   0   0     0     0
27  2009-08-18      Bradford       Lincoln   0   0     0     0
28  2009-08-18        Burton       Torquay   0   0     0     0
29  2009-08-18   Dag and Red    Shrewsbury   0   0     0     0
30  2009-08-18    Darlington         Crewe   0   0     0     0
31  2009-08-18       Grimsby     Rotherham   0   0     0     0
32  2009-08-18      Hereford          Bury   1   0     0     0
33  2009-08-18  Macclesfield     Port Vale   0   0     0     0
34  2009-08-18      Rochdale    Cheltenham   0   0     1     0
35  2009-08-19  Chesterfield  Notts County   0   0     0     0
36  2009-08-22     Aldershot    Accrington   0   0     0     0
37  2009-08-22          Bury       Grimsby   0   0     0     0
38  2009-08-22    Cheltenham      Bradford   0   0     0     0
39  2009-08-22         Crewe      Hereford   0   0     0     1
40  2009-08-22       Lincoln        Burton   0   0     0     0
41  2009-08-22     Morecambe  Macclesfield   0   0     1     0
42  2009-08-22   Northampton   Bournemouth   0   0     0     0
43  2009-08-22  Notts County   Dag and Red   0   0     0     0
44  2009-08-22     Port Vale    Darlington   0   0     0     0
45  2009-08-22    Shrewsbury  Chesterfield   0   0     0     0
46  2009-08-22       Torquay        Barnet   0   0     0     0
47  2009-08-23     Rotherham      Rochdale   0   0     0     1
48  2009-08-29    Accrington    Shrewsbury   0   0     0     0
49  2009-08-29        Barnet  Notts County   0   0     0     0
50  2009-08-29   Bournemouth         Crewe   0   0     0     0
51  2009-08-29      Bradford       Torquay   0   0     0     0
52  2009-08-29        Burton   Northampton   0   0     0     0
53  2009-08-29  Chesterfield     Morecambe   0   0     0     1
54  2009-08-29   Dag and Red       Lincoln   0   0     0     0
55  2009-08-29    Darlington    Cheltenham   0   0     0     0
56  2009-08-29       Grimsby     Aldershot   2   0     0     0
57  2009-08-29      Hereford     Port Vale   0   0     1     0
58  2009-08-29  Macclesfield     Rotherham   0   0     0     0
59  2009-08-29      Rochdale          Bury   0   0     1     0

##### GET RESPECTIVE POINTS: 
-> 18 mit 24 ersetzen: number of teams

In [175]:
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,47):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(24)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
            
    return pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T

def get_agg_points(playing_stat):
    matchres = get_matchres(playing_stat)
    cum_pts = get_cuml_points(matchres)
    HTP = []
    ATP = []
    j = 0
    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 12) == 0:
            j = j + 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat

In [176]:
# Apply to each dataset

#playing_statistics_1 = get_agg_points(playing_statistics_1)
#playing_statistics_2 = get_agg_points(playing_statistics_2)
#playing_statistics_3 = get_agg_points(playing_statistics_3)
#playing_statistics_4 = get_agg_points(playing_statistics_4)
#playing_statistics_5 = get_agg_points(playing_statistics_5)
playing_statistics_6 = get_agg_points(playing_statistics_6)
playing_statistics_7 = get_agg_points(playing_statistics_7)
playing_statistics_8 = get_agg_points(playing_statistics_8)
playing_statistics_9 = get_agg_points(playing_statistics_9)
playing_statistics_10 = get_agg_points(playing_statistics_10)
playing_statistics_11 = get_agg_points(playing_statistics_11)
playing_statistics_12 = get_agg_points(playing_statistics_12)
playing_statistics_13 = get_agg_points(playing_statistics_13)
playing_statistics_14 = get_agg_points(playing_statistics_14)
playing_statistics_15 = get_agg_points(playing_statistics_15)
playing_statistics_16 = get_agg_points(playing_statistics_16)
playing_statistics_17 = get_agg_points(playing_statistics_17)
playing_statistics_18 = get_agg_points(playing_statistics_18)
playing_statistics_19 = get_agg_points(playing_statistics_19)
#playing_statistics_20 = get_agg_points(playing_statistics_20)

<ipython-input-175-69e3d56d4887>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTP'] = HTP
<ipython-input-175-69e3d56d4887>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATP'] = ATP

In [177]:
playing_statistics_12[['Date', "HomeTeam", "AwayTeam", "FTHG", "FTAG","HTP", "ATP"]].head(60)

          Date       HomeTeam       AwayTeam  FTHG  FTAG  HTP  ATP
0   2011-08-06  AFC Wimbledon    Bristol Rvs     2     3    0    0
1   2011-08-06       Bradford      Aldershot     1     2    0    0
2   2011-08-06     Gillingham     Cheltenham     1     0    0    0
3   2011-08-06   Macclesfield    Dag and Red     0     1    0    0
4   2011-08-06      Morecambe         Barnet     0     1    0    0
5   2011-08-06    Northampton     Accrington     0     0    0    0
6   2011-08-06      Port Vale   Crawley Town     2     2    0    0
7   2011-08-06      Rotherham         Oxford     1     0    0    0
8   2011-08-06     Shrewsbury       Plymouth     1     1    0    0
9   2011-08-06       Southend       Hereford     1     0    0    0
10  2011-08-06        Swindon          Crewe     3     0    0    0
11  2011-08-06        Torquay         Burton     2     2    0    0
12  2011-08-13     Accrington       Southend     1     2    1    3
13  2011-08-13      Aldershot    Northampton     0     1    3    1
14  2011-08-13         Barnet      Port Vale     1     3    3    1
15  2011-08-13    Bristol Rvs        Torquay     1     2    3    1
16  2011-08-13         Burton     Shrewsbury     1     1    1    1
17  2011-08-13     Cheltenham        Swindon     1     0    0    3
18  2011-08-13   Crawley Town   Macclesfield     2     0    1    0
19  2011-08-13          Crewe     Gillingham     1     2    0    3
20  2011-08-13    Dag and Red  AFC Wimbledon     0     2    3    0
21  2011-08-13       Hereford      Morecambe     0     3    0    0
22  2011-08-13         Oxford       Bradford     1     1    0    0
23  2011-08-13       Plymouth      Rotherham     1     4    1    3
24  2011-08-16     Accrington       Bradford     1     0    1    1
25  2011-08-16      Aldershot        Torquay     0     1    3    4
26  2011-08-16         Barnet     Gillingham     2     2    3    6
27  2011-08-16    Bristol Rvs    Northampton     2     1    3    4
28  2011-08-16         Burton      Port Vale     1     1    2    4
29  2011-08-16     Cheltenham      Morecambe     1     2    3    3
30  2011-08-16   Crawley Town       Southend     3     0    4    6
31  2011-08-16          Crewe      Rotherham     1     2    0    6
32  2011-08-16    Dag and Red        Swindon     1     0    3    3
33  2011-08-16       Hereford   Macclesfield     0     4    0    0
34  2011-08-16         Oxford     Shrewsbury     2     0    1    2
35  2011-08-16       Plymouth  AFC Wimbledon     0     2    1    3
36  2011-08-20  AFC Wimbledon       Hereford     1     1    6    0
37  2011-08-20       Bradford    Dag and Red     0     1    1    6
38  2011-08-20     Gillingham       Plymouth     3     0    7    1
39  2011-08-20   Macclesfield    Bristol Rvs     0     0    3    6
40  2011-08-20      Morecambe      Aldershot     2     0    6    3
41  2011-08-20    Northampton     Cheltenham     2     3    4    3
42  2011-08-20      Port Vale     Accrington     4     1    5    4
43  2011-08-20      Rotherham         Barnet     2     2    9    4
44  2011-08-20     Shrewsbury          Crewe     2     0    2    0
45  2011-08-20       Southend         Burton     0     1    6    3
46  2011-08-20        Torquay   Crawley Town     1     3    7    7
47  2011-08-21        Swindon         Oxford     1     2    3    4
48  2011-08-27     Accrington         Burton     2     1    4    6
49  2011-08-27       Bradford         Barnet     4     2    1    5
50  2011-08-27    Bristol Rvs       Hereford     0     0    7    1
51  2011-08-27     Cheltenham   Crawley Town     3     1    6   10
52  2011-08-27    Dag and Red        Torquay     1     1    9    7
53  2011-08-27   Macclesfield  AFC Wimbledon     4     0    4    7
54  2011-08-27    Northampton      Morecambe     0     2    4    9
55  2011-08-27         Oxford      Aldershot     1     1    7    3
56  2011-08-27       Plymouth          Crewe     0     1    1    0
57  2011-08-27      Port Vale       Southend     2     3    8    6
58  2011-08-27      Rotherham     Gillingham     3     0   10   10
59  2011-08-27     Shrewsbury        Swindon     2     1    5    3

GET TEAM FORM: 
-> 9 mit 10 ersetzen!

In [178]:
def get_form(playing_stat,num):
    form = get_matchres(playing_stat)
    form_final = form.copy()
    for i in range(num,47):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1           
    return form_final

def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 12)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 12)]
    
    j = num
    for i in range((num*12),552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]               # get past n results
        h.append(past[num-1])                    # 0 index is most recent
        
        past = form.loc[at][j]               # get past n results.
        a.append(past[num-1])                   # 0 index is most recent
        
        if ((i + 1)% 12) == 0:
            j = j + 1

    playing_stat['HM' + str(num)] = h                 
    playing_stat['AM' + str(num)] = a

    
    return playing_stat


def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics

In [179]:
# Make changes to df
#playing_statistics_1 = add_form_df(playing_statistics_1)
#playing_statistics_2 = add_form_df(playing_statistics_2)
#playing_statistics_3 = add_form_df(playing_statistics_3)
#playing_statistics_4 = add_form_df(playing_statistics_4)
#playing_statistics_5 = add_form_df(playing_statistics_5)
playing_statistics_6 = add_form_df(playing_statistics_6)
playing_statistics_7 = add_form_df(playing_statistics_7)
playing_statistics_8 = add_form_df(playing_statistics_8)
playing_statistics_9 = add_form_df(playing_statistics_9)
playing_statistics_10 = add_form_df(playing_statistics_10)
playing_statistics_11 = add_form_df(playing_statistics_11)
playing_statistics_12 = add_form_df(playing_statistics_12)
playing_statistics_13 = add_form_df(playing_statistics_13)
playing_statistics_14 = add_form_df(playing_statistics_14)
playing_statistics_15 = add_form_df(playing_statistics_15)
playing_statistics_16 = add_form_df(playing_statistics_16)
playing_statistics_17 = add_form_df(playing_statistics_17)
playing_statistics_18 = add_form_df(playing_statistics_18)
playing_statistics_19 = add_form_df(playing_statistics_19)
#playing_statistics_20 = add_form_df(playing_statistics_20)

<ipython-input-178-ebbcc0361dc0>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HM' + str(num)] = h
<ipython-input-178-ebbcc0361dc0>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AM' + str(num)] = a

Get MatchWeek:

In [180]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(552):
        MatchWeek.append(j)
        if ((i + 1)% 12) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

In [181]:
#playing_statistics_1 = get_mw(playing_statistics_1)
#playing_statistics_2 = get_mw(playing_statistics_2)
#playing_statistics_3 = get_mw(playing_statistics_3)
#playing_statistics_4 = get_mw(playing_statistics_4)
#playing_statistics_5 = get_mw(playing_statistics_5)
playing_statistics_6 = get_mw(playing_statistics_6)
playing_statistics_7 = get_mw(playing_statistics_7)
playing_statistics_8 = get_mw(playing_statistics_8)
playing_statistics_9 = get_mw(playing_statistics_9)
playing_statistics_10 = get_mw(playing_statistics_10)
playing_statistics_11 = get_mw(playing_statistics_11)
playing_statistics_12 = get_mw(playing_statistics_12)
playing_statistics_13 = get_mw(playing_statistics_13)
playing_statistics_14 = get_mw(playing_statistics_14)
playing_statistics_15 = get_mw(playing_statistics_15)
playing_statistics_16 = get_mw(playing_statistics_16)
playing_statistics_17 = get_mw(playing_statistics_17)
playing_statistics_18 = get_mw(playing_statistics_18)
playing_statistics_19 = get_mw(playing_statistics_19)
#playing_statistics_20 = get_mw(playing_statistics_20)

<ipython-input-180-e64cf2a3cfac>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['MW'] = MatchWeek

In [182]:
playing_statistics_6

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,...,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5,MW
0,2005-08-06,Barnet,Bristol Rvs,1,1,D,7,5,4,4,...,M,M,M,M,M,M,M,M,M,1
1,2005-08-06,Cheltenham,Bury,2,1,H,14,13,7,8,...,M,M,M,M,M,M,M,M,M,1
2,2005-08-06,Grimsby,Oxford,1,1,D,5,10,2,1,...,M,M,M,M,M,M,M,M,M,1
3,2005-08-06,Leyton Orient,Macclesfield,2,1,H,12,6,5,3,...,M,M,M,M,M,M,M,M,M,1
4,2005-08-06,Lincoln,Northampton,1,1,D,12,7,6,5,...,M,M,M,M,M,M,M,M,M,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2006-05-06,Oxford,Leyton Orient,2,3,A,8,24,6,15,...,W,L,D,L,D,W,W,L,W,46
548,2006-05-06,Peterboro,Wycombe,0,2,A,12,10,7,5,...,L,W,W,L,L,L,L,W,L,46
549,2006-05-06,Rushden & D,Barnet,1,2,A,5,12,1,5,...,D,L,D,L,D,D,W,W,L,46
550,2006-05-06,Stockport,Carlisle,0,0,D,16,9,7,2,...,W,L,L,W,D,L,W,W,D,46
551,2006-05-06,Torquay,Boston,0,0,D,7,7,4,2,...,W,W,L,W,W,W,W,L,L,46

FINAL DATAFRAME

In [183]:
playing_stat = pd.concat([#playing_statistics_1,
                          #playing_statistics_2,
                          #playing_statistics_3,
                          #playing_statistics_4,
                          #playing_statistics_5,
                          playing_statistics_6,
                          playing_statistics_7,
                          playing_statistics_8,
                          playing_statistics_9,
                          playing_statistics_10,
                          playing_statistics_11,
                          playing_statistics_12,
                          playing_statistics_13,
                          playing_statistics_14,
                          playing_statistics_15,
                          playing_statistics_16,
                          playing_statistics_17,
                          playing_statistics_18,
                          playing_statistics_19,], ignore_index=True)

In [184]:
playing_stat

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,...,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5,MW
0,2005-08-06,Barnet,Bristol Rvs,1.0,1.0,D,7.0,5.0,4.0,4.0,...,M,M,M,M,M,M,M,M,M,1
1,2005-08-06,Cheltenham,Bury,2.0,1.0,H,14.0,13.0,7.0,8.0,...,M,M,M,M,M,M,M,M,M,1
2,2005-08-06,Grimsby,Oxford,1.0,1.0,D,5.0,10.0,2.0,1.0,...,M,M,M,M,M,M,M,M,M,1
3,2005-08-06,Leyton Orient,Macclesfield,2.0,1.0,H,12.0,6.0,5.0,3.0,...,M,M,M,M,M,M,M,M,M,1
4,2005-08-06,Lincoln,Northampton,1.0,1.0,D,12.0,7.0,6.0,5.0,...,M,M,M,M,M,M,M,M,M,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7723,2019-05-04,Morecambe,Newport County,1.0,1.0,D,12.0,20.0,5.0,6.0,...,W,W,W,L,D,D,W,D,W,46
7724,2019-05-04,Oldham,Northampton,2.0,5.0,A,11.0,15.0,3.0,8.0,...,D,L,L,W,W,D,D,D,D,46
7725,2019-05-04,Stevenage,Cheltenham,2.0,0.0,H,20.0,6.0,7.0,2.0,...,W,D,L,W,D,W,D,W,D,46
7726,2019-05-04,Swindon,Notts County,3.0,1.0,H,10.0,4.0,7.0,1.0,...,W,L,D,D,L,D,L,D,D,46
7727,2019-05-04,Yeovil,Carlisle,0.0,0.0,D,7.0,18.0,5.0,8.0,...,W,D,L,L,W,L,L,D,W,46

In [185]:
# Gets the form points.
def get_form_points(string):
    sum = 0
    for letter in string:
        sum += get_points(letter)
    return sum

playing_stat['HTFormPtsStr'] = playing_stat['HM1'] + playing_stat['HM2'] + playing_stat['HM3'] + playing_stat['HM4'] + playing_stat['HM5']
playing_stat['ATFormPtsStr'] = playing_stat['AM1'] + playing_stat['AM2'] + playing_stat['AM3'] + playing_stat['AM4'] + playing_stat['AM5']

playing_stat['HTFormPts'] = playing_stat['HTFormPtsStr'].apply(get_form_points)
playing_stat['ATFormPts'] = playing_stat['ATFormPtsStr'].apply(get_form_points)

# Identify Win/Loss Streaks if any.
def get_3game_ws(string):
    if string[-3:] == 'WWW':
        return 1
    else:
        return 0
    
def get_5game_ws(string):
    if string == 'WWWWW':
        return 1
    else:
        return 0
    
def get_3game_ls(string):
    if string[-3:] == 'LLL':
        return 1
    else:
        return 0
    
def get_5game_ls(string):
    if string == 'LLLLL':
        return 1
    else:
        return 0
    
playing_stat['HTWinStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ws)
playing_stat['HTWinStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ws)
playing_stat['HTLossStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ls)
playing_stat['HTLossStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ls)

playing_stat['ATWinStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ws)
playing_stat['ATWinStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ws)
playing_stat['ATLossStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ls)
playing_stat['ATLossStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ls)

playing_stat.keys()

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS',
       'HST', 'AST', 'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR', 'HTGS',
       'ATGS', 'HTGC', 'ATGC', 'AGHSF', 'AGASF', 'AGHSC', 'AGASC', 'AGHSTF',
       'AGASTF', 'AGHSTC', 'AGASTC', 'AGHF', 'AGAF', 'AGHCF', 'AGACF', 'AGHCC',
       'AGACC', 'AGHY', 'AGAY', 'AGHR', 'AGAR', 'HTP', 'ATP', 'HM1', 'AM1',
       'HM2', 'AM2', 'HM3', 'AM3', 'HM4', 'AM4', 'HM5', 'AM5', 'MW',
       'HTFormPtsStr', 'ATFormPtsStr', 'HTFormPts', 'ATFormPts',
       'HTWinStreak3', 'HTWinStreak5', 'HTLossStreak3', 'HTLossStreak5',
       'ATWinStreak3', 'ATWinStreak5', 'ATLossStreak3', 'ATLossStreak5'],
      dtype='object')

In [186]:
# Get Goal Difference
playing_stat['HTGD'] = playing_stat['HTGS'] - playing_stat['HTGC']
playing_stat['ATGD'] = playing_stat['ATGS'] - playing_stat['ATGC']

# Diff in points
playing_stat['DiffPts'] = playing_stat['HTP'] - playing_stat['ATP']
playing_stat['DiffFormPts'] = playing_stat['HTFormPts'] - playing_stat['ATFormPts']

# Diff in Shots fired
playing_stat['HTSD'] = playing_stat['AGHSF'] - playing_stat['AGHSC']
playing_stat['ATSD'] = playing_stat['AGASF'] - playing_stat['AGASC']

# Diff in shots on target
playing_stat['HTSTD'] = playing_stat['AGHSTF'] - playing_stat['AGHSTC']
playing_stat['ATSTD'] = playing_stat['AGASTF'] - playing_stat['AGASTC']

# Diff in corners
playing_stat['HTCD'] = playing_stat['AGHCF'] - playing_stat['AGHCC']
playing_stat['ATCD'] = playing_stat['AGACF'] - playing_stat['AGACC']

In [187]:
# Datensatz nicht gescaled
#playing_stat_raw = playing_stat
#playing_stat_raw.to_csv(loc + "2019_2020_ingame_1und2_raw.csv")

In [188]:
# Scale DiffPts , DiffFormPts, HTGD, ATGD by Matchweek.
cols = ['HTGD','ATGD','DiffPts','DiffFormPts','HTP','ATP', "HTSD", "ATSD", "HTSTD", "ATSTD", "HTCD", "ATCD",
        "AGHY", "AGHR", "AGAR", "AGHF", "AGAF", "AGAY", 'AGHSF','AGASF', 'AGHSC', 'AGASC', 'AGHSTF', 'AGASTF', 
        'AGHSTC', 'AGASTC', 'AGHCF', 'AGACF', 'AGHCC', 'AGACC']
playing_stat.MW = playing_stat.MW.astype(float)

for col in cols:
    playing_stat[col] = playing_stat[col] / playing_stat.MW

In [189]:
playing_stat.MW

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
7723    46.0
7724    46.0
7725    46.0
7726    46.0
7727    46.0
Name: MW, Length: 7728, dtype: float64

In [190]:
playing_stat

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,...,HTGD,ATGD,DiffPts,DiffFormPts,HTSD,ATSD,HTSTD,ATSTD,HTCD,ATCD
0,2005-08-06,Barnet,Bristol Rvs,1.0,1.0,D,7.0,5.0,4.0,4.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2005-08-06,Cheltenham,Bury,2.0,1.0,H,14.0,13.0,7.0,8.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2005-08-06,Grimsby,Oxford,1.0,1.0,D,5.0,10.0,2.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2005-08-06,Leyton Orient,Macclesfield,2.0,1.0,H,12.0,6.0,5.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2005-08-06,Lincoln,Northampton,1.0,1.0,D,12.0,7.0,6.0,5.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7723,2019-05-04,Morecambe,Newport County,1.0,1.0,D,12.0,20.0,5.0,6.0,...,-0.347826,0.000000,-0.369565,-0.108696,-1.804348,0.586957,-0.956522,0.500000,-1.369565,0.826087
7724,2019-05-04,Oldham,Northampton,2.0,5.0,A,11.0,15.0,3.0,8.0,...,0.217391,-0.043478,0.086957,-0.021739,0.239130,1.652174,-0.130435,0.739130,0.043478,0.934783
7725,2019-05-04,Stevenage,Cheltenham,2.0,0.0,H,20.0,6.0,7.0,2.0,...,0.043478,-0.195652,0.217391,0.152174,-2.869565,-1.695652,-0.456522,-0.239130,-1.152174,-0.282609
7726,2019-05-04,Swindon,Notts County,3.0,1.0,H,10.0,4.0,7.0,1.0,...,0.021739,-0.739130,0.434783,-0.043478,1.565217,-1.913043,0.239130,-1.391304,-0.130435,-0.260870
7727,2019-05-04,Yeovil,Carlisle,0.0,0.0,D,7.0,18.0,5.0,8.0,...,-0.543478,0.108696,-0.608696,-0.130435,-1.565217,1.434783,-0.673913,-0.152174,-1.152174,-0.434783

In [191]:
playing_stat.to_csv(loc + "final_dataset_league2.csv")
# playing_stat_test.to_csv(loc+"test.csv")