In [181]:
# Import all the necessary libraries

import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools

%matplotlib inline

In [182]:
# 20 Mannschaften * 19 = 380 Spiele pro Saison
# 2&3 Liga sogar 24!

In [183]:
# Read data from the CSV into a dataframe

# Python pandas will read a csv file using utf_8 encoding defautly. 
# If the character encoding of this csv file is not utf_8, UnicodeDecodeError may occur.

loc = "/home/max/Dokumente/Projekte/Football_Game_Prediction/Data_Gathering/Premier_Div1_Div2_in_Game/league_1/"
# raw_data_1 = pd.read_csv(loc + '2000_2001.csv', sep=',', encoding='gbk')
#raw_data_2 = pd.read_csv(loc + '2001_2002.csv', sep=',', encoding='gbk')
#raw_data_3 = pd.read_csv(loc + '2002_2003.csv', sep=',', encoding='gbk') 
# raw_data_4 = pd.read_csv(loc + '2003_2004.csv')
# raw_data_5 = pd.read_csv(loc + '2004_2005.csv', sep=',', encoding='gbk') -> geht auch nicht wie in premier league
raw_data_6 = pd.read_csv(loc + '2005_2006.csv', sep=',', encoding='gbk')
raw_data_7 = pd.read_csv(loc + '2006_2007.csv', sep=',', encoding='gbk')
raw_data_8 = pd.read_csv(loc + '2007_2008.csv', sep=',', encoding='gbk')
raw_data_9 = pd.read_csv(loc + '2008_2009.csv', sep=',', encoding='gbk')
raw_data_10 = pd.read_csv(loc + '2009_2010.csv', sep=',', encoding='gbk')
raw_data_11 = pd.read_csv(loc + '2010_2011.csv', sep=',', encoding='gbk')
raw_data_12 = pd.read_csv(loc + '2011_2012.csv', sep=',', encoding='gbk')
raw_data_13 = pd.read_csv(loc + '2012_2013.csv', sep=',', encoding='gbk')
raw_data_14 = pd.read_csv(loc + '2013_2014.csv', sep=',', encoding='gbk')
raw_data_15 = pd.read_csv(loc + '2014_2015.csv', sep=',', encoding='gbk')
raw_data_16 = pd.read_csv(loc + '2015_2016.csv', sep=',', encoding='gbk')
raw_data_17 = pd.read_csv(loc + '2016_2017.csv', sep=',', encoding='gbk')
raw_data_18 = pd.read_csv(loc + '2017_2018.csv', sep=',', encoding='gbk')
raw_data_19 = pd.read_csv(loc + '2018_2019.csv', sep=',', encoding='gbk')
#raw_data_20 = pd.read_csv(loc + '2019_2020.csv', sep=',', encoding='gbk') 

# saison 20 weniger rows als die anderen DataFrames? -> nur 400? 
# ansonsten alle 552

In [184]:
raw_data_16.drop(raw_data_16.tail(1).index,inplace=True) # drop last n rows
raw_data_13.drop(raw_data_13.tail(1).index,inplace=True) # drop last n rows

In [185]:
raw_data_16

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E2,08/08/15,Burton,Scunthorpe,2.0,1.0,H,0.0,0.0,D,...,1.74,25.0,-0.25,1.99,1.93,1.94,1.88,2.40,3.38,3.19
1,E2,08/08/15,Chesterfield,Barnsley,3.0,1.0,H,0.0,1.0,A,...,1.75,25.0,-0.25,1.93,1.87,2.02,1.94,2.02,3.60,3.96
2,E2,08/08/15,Colchester,Blackpool,2.0,2.0,D,1.0,2.0,A,...,1.77,25.0,-0.25,1.94,1.88,2.01,1.93,2.28,3.51,3.31
3,E2,08/08/15,Coventry,Wigan,2.0,0.0,H,1.0,0.0,H,...,1.64,25.0,0.25,1.85,1.78,2.12,2.05,2.92,3.31,2.63
4,E2,08/08/15,Crewe,Port Vale,0.0,0.0,D,0.0,0.0,D,...,1.75,23.0,-0.25,2.22,2.13,1.76,1.72,3.05,3.51,2.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,08/05/16,Peterboro,Blackpool,5.0,1.0,H,0.0,1.0,A,...,2.27,26.0,-0.25,1.95,1.89,2.03,1.95,2.18,3.89,3.24
548,E2,08/05/16,Port Vale,Walsall,0.0,5.0,A,0.0,3.0,A,...,1.96,26.0,0.75,1.74,1.69,2.29,2.19,4.19,3.94,1.88
549,E2,08/05/16,Sheffield United,Scunthorpe,0.0,2.0,A,0.0,1.0,A,...,2.06,27.0,0.25,1.93,1.86,2.02,1.96,3.17,3.80,2.24
550,E2,08/05/16,Swindon,Shrewsbury,3.0,0.0,H,1.0,0.0,H,...,2.22,27.0,-0.25,2.00,1.93,1.96,1.89,2.21,3.68,3.32
551,E2,08/05/16,Wigan,Barnsley,1.0,4.0,A,1.0,2.0,A,...,2.00,27.0,-0.25,2.08,2.01,1.87,1.82,2.32,3.85,2.99

In [186]:
raw_data_13.Date

0      18/08/12
1      18/08/12
2      18/08/12
3      18/08/12
4      18/08/12
         ...
547    27/04/13
548    27/04/13
549    27/04/13
550    27/04/13
551    27/04/13
Name: Date, Length: 552, dtype: object

In [187]:
# Parse data as time 

def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%y').date()
    

def parse_date_other(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%Y').date()

# funktion brauche ich nicht: form nur für obigen zwei!
def parse_date_other_2(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%Y-%m-%d').date()

In [188]:
#raw_data_1.Date = raw_data_1.Date.apply(parse_date)    
#raw_data_2.Date = raw_data_2.Date.apply(parse_date)    
#raw_data_3.Date = raw_data_3.Date.apply(parse_date_other)          
# raw_data_4.Date = raw_data_4.Date.apply(parse_date)    
# raw_data_5.Date = raw_data_5.Date.apply(parse_date)    
raw_data_6.Date = raw_data_6.Date.apply(parse_date)    
raw_data_7.Date = raw_data_7.Date.apply(parse_date)    
raw_data_8.Date = raw_data_8.Date.apply(parse_date)    
raw_data_9.Date = raw_data_9.Date.apply(parse_date)    
raw_data_10.Date = raw_data_10.Date.apply(parse_date)
raw_data_11.Date = raw_data_11.Date.apply(parse_date)
raw_data_12.Date = raw_data_12.Date.apply(parse_date)
raw_data_13.Date = raw_data_13.Date.apply(parse_date)
raw_data_14.Date = raw_data_14.Date.apply(parse_date)
raw_data_15.Date = raw_data_15.Date.apply(parse_date)
raw_data_16.Date = raw_data_16.Date.apply(parse_date)
raw_data_17.Date = raw_data_17.Date.apply(parse_date)
raw_data_18.Date = raw_data_18.Date.apply(parse_date)
raw_data_19.Date = raw_data_19.Date.apply(parse_date_other)
# raw_data_20.Date = raw_data_20.Date.apply(parse_date_other)

In [189]:
#Gets all the statistics related to gameplay
                      
columns_req = ['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR', "HS", "AS", "HST", "AST", "HC", 
                          "AC", "HF", "AF", "HY", "AY", "HR", "AR"]

#playing_statistics_1 = raw_data_1[columns_req]    
#playing_statistics_2 = raw_data_2[columns_req]   
#playing_statistics_3 = raw_data_3[columns_req]    
#playing_statistics_4 = raw_data_4[columns_req]   
#playing_statistics_5 = raw_data_5[columns_req]  
playing_statistics_6 = raw_data_6[columns_req]    
playing_statistics_7 = raw_data_7[columns_req]    
playing_statistics_8 = raw_data_8[columns_req] 
playing_statistics_9 = raw_data_9[columns_req]    
playing_statistics_10 = raw_data_10[columns_req]    
playing_statistics_11 = raw_data_12[columns_req]  
playing_statistics_12 = raw_data_12[columns_req]  
playing_statistics_13 = raw_data_13[columns_req]  
playing_statistics_14 = raw_data_14[columns_req] 
playing_statistics_15 = raw_data_15[columns_req]   
playing_statistics_16 = raw_data_16[columns_req]
playing_statistics_17 = raw_data_17[columns_req] 
playing_statistics_18 = raw_data_18[columns_req]  
playing_statistics_19 = raw_data_19[columns_req]  
#playing_statistics_20 = raw_data_20[columns_req]

In [190]:
playing_statistics_17

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,2016-08-06,Bolton,Sheffield United,1,0,H,8,4,3,0,2,4,10,7,2,1,0,0
1,2016-08-06,Bradford,Port Vale,0,0,D,12,8,1,2,11,3,10,15,0,2,0,0
2,2016-08-06,Bury,Charlton,2,0,H,11,9,4,1,6,5,11,9,0,0,0,0
3,2016-08-06,Millwall,Oldham,3,0,H,15,8,7,2,6,3,14,10,0,1,0,0
4,2016-08-06,Northampton,Fleetwood Town,1,1,D,9,7,2,3,3,0,7,9,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2017-04-30,Rochdale,Bradford,1,1,D,25,10,9,3,11,5,10,8,1,0,0,0
548,2017-04-30,Scunthorpe,Coventry,3,1,H,22,8,11,4,6,3,4,11,1,1,0,0
549,2017-04-30,Sheffield United,Chesterfield,3,2,H,16,10,8,3,11,3,11,8,4,1,0,1
550,2017-04-30,Southend,Bury,1,0,H,12,2,4,0,5,0,15,16,2,4,0,0
551,2017-04-30,Walsall,Milton Keynes Dons,1,4,A,7,14,4,7,7,4,10,9,0,0,0,0

** GOALS SCORED AND CONCEDED AT THE END OF MATCHWEEK, ARRANGED BY TEAMS AND MATCHWEEK **

Bundesliga sind 18 Teams => 18x17 sind 306 Spiele 
Premier League: sind 20 Teams => 20x19 sind 380 Spiele 
=> ändere if ((i + 1)% 9) == 0: zu if ((i + 1)% 10) == 0: 
-> hier: 552 rows => hier 24x23 = 552 
-> Premier league waren 38 Spieltage => 39 -- hier sind es 46 => 47 eingeben! 
-> buli 18 Teams -> %9 , PL 20 Teams -> %10 -> hier 24 Teams -> %12

In [191]:
# alle 302 mit 380 ersetzen!
# Shape of passed values is (38, 20), indices imply (34, 20) => jede 47 mit 47 ersetzen!

# Gets the goals scored agg arranged by teams and matchweek
def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored



# Gets the goals conceded agg arranged by teams and matchweek
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
    return GoalsConceded

def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
   
    j = 0
    HTGS = []
    ATGS = []
    HTGC = []
    ATGC = []

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['HTGS'] = HTGS
    playing_stat['ATGS'] = ATGS
    playing_stat['HTGC'] = HTGC
    playing_stat['ATGC'] = ATGC
    
    return playing_stat

In [192]:
# Apply to each dataset

#playing_statistics_1 = get_gss(playing_statistics_1)
#playing_statistics_2 = get_gss(playing_statistics_2)
#playing_statistics_3 = get_gss(playing_statistics_3)
#playing_statistics_4 = get_gss(playing_statistics_4)
#playing_statistics_5 = get_gss(playing_statistics_5)
playing_statistics_6 = get_gss(playing_statistics_6)
playing_statistics_7 = get_gss(playing_statistics_7)
playing_statistics_8 = get_gss(playing_statistics_8)
playing_statistics_9 = get_gss(playing_statistics_9)
playing_statistics_10 = get_gss(playing_statistics_10)
playing_statistics_11 = get_gss(playing_statistics_11)
playing_statistics_12 = get_gss(playing_statistics_12)
playing_statistics_13 = get_gss(playing_statistics_13)
playing_statistics_14 = get_gss(playing_statistics_14)
playing_statistics_15 = get_gss(playing_statistics_15)
playing_statistics_16 = get_gss(playing_statistics_16)
playing_statistics_17 = get_gss(playing_statistics_17)
playing_statistics_18 = get_gss(playing_statistics_18)
playing_statistics_19 = get_gss(playing_statistics_19)
# playing_statistics_20 = get_gss(playing_statistics_20)

# danach immer kopieren und befehlt get_gss mit jeweiliger funktion für alle ersetzen! + loops verbessern!

<ipython-input-191-a0a7542a5bc0>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTGS'] = HTGS
<ipython-input-191-a0a7542a5bc0>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATGS'] = ATGS
<ipython-input-191-a0a7542a5bc0>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTGC'] = HTGC
<ipython-input-191-a0a7542a5bc0>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATGC'] = ATGC

In [193]:
playing_statistics_6[['Date', "HomeTeam", "AwayTeam", "FTHG", "FTAG", "HTGS", "ATGS", "HTGC", "ATGC"]].head(60)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTGS,ATGS,HTGC,ATGC
0,2005-08-06,Barnsley,Swindon,2,0,0,0,0,0
1,2005-08-06,Blackpool,Chesterfield,1,3,0,0,0,0
2,2005-08-06,Brentford,Scunthorpe,2,0,0,0,0,0
3,2005-08-06,Bristol City,Doncaster,0,0,0,0,0,0
4,2005-08-06,Gillingham,Colchester,2,1,0,0,0,0
5,2005-08-06,Hartlepool,Bradford,0,2,0,0,0,0
6,2005-08-06,Milton Keynes Dons,Bournemouth,2,2,0,0,0,0
7,2005-08-06,Nott'm Forest,Huddersfield,2,1,0,0,0,0
8,2005-08-06,Oldham,Yeovil,2,0,0,0,0,0
9,2005-08-06,Rotherham,Walsall,1,2,0,0,0,0
10,2005-08-06,Southend,Port Vale,1,2,0,0,0,0
11,2005-08-06,Swansea,Tranmere,1,0,0,0,0,0
12,2005-08-09,Bournemouth,Hartlepool,1,1,2,0,2,2
13,2005-08-09,Bradford,Southend,0,2,2,1,0,2
14,2005-08-09,Colchester,Swansea,1,2,1,1,2,0
15,2005-08-09,Doncaster,Milton Keynes Dons,1,1,0,2,0,2
16,2005-08-09,Huddersfield,Bristol City,1,0,1,0,2,0
17,2005-08-09,Port Vale,Gillingham,0,0,2,2,1,1
18,2005-08-09,Scunthorpe,Barnsley,2,1,0,2,2,0
19,2005-08-09,Swindon,Oldham,2,3,0,2,2,0
20,2005-08-09,Tranmere,Blackpool,2,2,0,1,1,3
21,2005-08-09,Walsall,Nott'm Forest,3,2,2,2,1,1
22,2005-08-09,Yeovil,Rotherham,0,0,0,1,2,2
23,2005-08-10,Chesterfield,Brentford,1,3,3,2,1,0
24,2005-08-12,Tranmere,Oldham,4,0,2,5,3,2
25,2005-08-13,Bournemouth,Bristol City,2,0,3,0,3,1
26,2005-08-13,Bradford,Milton Keynes Dons,2,0,2,3,2,3
27,2005-08-13,Chesterfield,Rotherham,0,1,4,1,4,2
28,2005-08-13,Colchester,Barnsley,1,0,2,3,4,2
29,2005-08-13,Doncaster,Hartlepool,0,1,1,1,1,3
30,2005-08-13,Huddersfield,Swansea,3,1,2,3,2,1
31,2005-08-13,Scunthorpe,Gillingham,1,1,2,2,3,1
32,2005-08-13,Swindon,Nott'm Forest,2,1,2,4,5,4
33,2005-08-13,Walsall,Southend,2,2,5,3,3,2
34,2005-08-13,Yeovil,Blackpool,1,1,0,3,2,5
35,2005-08-15,Port Vale,Brentford,1,0,2,5,1,1
36,2005-08-20,Barnsley,Yeovil,1,0,3,1,3,3
37,2005-08-20,Blackpool,Swindon,0,0,4,4,6,6
38,2005-08-20,Brentford,Tranmere,2,0,5,6,2,3
39,2005-08-20,Bristol City,Port Vale,4,2,0,3,3,1
40,2005-08-20,Gillingham,Bournemouth,1,0,3,5,2,3
41,2005-08-20,Hartlepool,Walsall,1,1,2,7,3,5
42,2005-08-20,Milton Keynes Dons,Colchester,1,1,3,3,5,4
43,2005-08-20,Nott'm Forest,Scunthorpe,0,1,5,3,6,4
44,2005-08-20,Oldham,Chesterfield,4,1,5,4,6,5
45,2005-08-20,Rotherham,Bradford,1,1,2,4,2,2
46,2005-08-20,Southend,Huddersfield,1,1,5,5,4,3
47,2005-08-20,Swansea,Doncaster,1,2,4,1,4,2
48,2005-08-26,Scunthorpe,Southend,1,0,4,6,4,5
49,2005-08-27,Barnsley,Brentford,1,1,4,7,3,2
50,2005-08-27,Bradford,Bournemouth,1,2,5,5,3,4
51,2005-08-27,Bristol City,Milton Keynes Dons,2,2,4,4,5,6
52,2005-08-27,Chesterfield,Tranmere,0,2,5,6,9,5
53,2005-08-27,Colchester,Oldham,0,0,4,9,5,7
54,2005-08-27,Gillingham,Nott'm Forest,1,3,4,5,2,7
55,2005-08-27,Huddersfield,Hartlepool,2,1,6,3,4,4
56,2005-08-27,Port Vale,Doncaster,2,0,5,3,5,3
57,2005-08-27,Rotherham,Blackpool,4,0,3,4,3,6
58,2005-08-27,Swindon,Yeovil,4,2,4,1,6,4
59,2005-08-27,Walsall,Swansea,2,5,8,5,6,6

Get Home and Away Shots

In [194]:
# Gets the shots fired agg arranged by teams and matchweek
def get_shots_fired(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHSF = playing_stat.iloc[i]['HS']
        # aggregated Home Team shots
        AGASF = playing_stat.iloc[i]['AS']
        # aggregated Away Team shots
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    ShotsFired = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    ShotsFired[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        ShotsFired[i] = ShotsFired[i] + ShotsFired[i-1]
    return ShotsFired




# Gets the goals conceded agg arranged by teams and matchweek
def get_shots_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGASC = playing_stat.iloc[i]['HS']
        # aggregated home team shots conceded
        AGHSC = playing_stat.iloc[i]['AS']
        # aggregated away team shots conceded
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSC)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    ShotsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    ShotsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        ShotsConceded[i] = ShotsConceded[i] + ShotsConceded[i-1]
    return ShotsConceded



def get_sf(playing_stat):
    SF = get_shots_fired(playing_stat)
    SC = get_shots_conceded(playing_stat)
   
    j = 0
    AGHSF = []
    AGASF = []
    AGHSC = []
    AGASC = []    

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHSF.append(SF.loc[ht][j])
        AGASF.append(SF.loc[at][j])
        AGHSC.append(SC.loc[ht][j])
        AGASC.append(SC.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHSF'] = AGHSF
    playing_stat['AGASF'] = AGASF
    playing_stat['AGHSC'] = AGHSC
    playing_stat['AGASC'] = AGASC
    return playing_stat

In [195]:
#playing_statistics_1 = get_sf(playing_statistics_1)
#playing_statistics_2 = get_sf(playing_statistics_2)
#playing_statistics_3 = get_sf(playing_statistics_3)
#playing_statistics_4 = get_sf(playing_statistics_4)
#playing_statistics_5 = get_sf(playing_statistics_5)
playing_statistics_6 = get_sf(playing_statistics_6)
playing_statistics_7 = get_sf(playing_statistics_7)
playing_statistics_8 = get_sf(playing_statistics_8)
playing_statistics_9 = get_sf(playing_statistics_9)
playing_statistics_10 = get_sf(playing_statistics_10)
playing_statistics_11 = get_sf(playing_statistics_11)
playing_statistics_12 = get_sf(playing_statistics_12)
playing_statistics_13 = get_sf(playing_statistics_13)
playing_statistics_14 = get_sf(playing_statistics_14)
playing_statistics_15 = get_sf(playing_statistics_15)
playing_statistics_16 = get_sf(playing_statistics_16)
playing_statistics_17 = get_sf(playing_statistics_17)
playing_statistics_18 = get_sf(playing_statistics_18)
playing_statistics_19 = get_sf(playing_statistics_19)
#playing_statistics_20 = get_sf(playing_statistics_20)

<ipython-input-194-fa8e73ff777f>:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSF'] = AGHSF
<ipython-input-194-fa8e73ff777f>:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASF'] = AGASF
<ipython-input-194-fa8e73ff777f>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSC'] = AGHSC
<ipython-input-194-fa8e73ff777f>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASC'] = AGASC

In [196]:
playing_statistics_9[['Date', "HomeTeam", "AwayTeam", "HS", "AS",'AGHSF', "AGASF", "AGHSC", "AGASC"]].head(50)

,Date,HomeTeam,AwayTeam,HS,AS,AGHSF,AGASF,AGHSC,AGASC
0,2008-08-09,Bristol Rvs,Carlisle,15,9,0,0,0,0
1,2008-08-09,Crewe,Brighton,7,15,0,0,0,0
2,2008-08-09,Hartlepool,Colchester,10,3,0,0,0,0
3,2008-08-09,Huddersfield,Stockport,11,8,0,0,0,0
4,2008-08-09,Leicester,Milton Keynes Dons,9,3,0,0,0,0
5,2008-08-09,Leyton Orient,Hereford,14,11,0,0,0,0
6,2008-08-09,Northampton,Cheltenham,16,6,0,0,0,0
7,2008-08-09,Oldham,Millwall,10,2,0,0,0,0
8,2008-08-09,Scunthorpe,Leeds,12,25,0,0,0,0
9,2008-08-09,Southend,Peterboro,10,10,0,0,0,0
10,2008-08-09,Swindon,Tranmere,8,6,0,0,0,0
11,2008-08-09,Yeovil,Walsall,5,6,0,0,0,0
12,2008-08-16,Brighton,Bristol Rvs,5,5,15,15,7,9
13,2008-08-16,Carlisle,Crewe,11,14,9,7,15,15
14,2008-08-16,Cheltenham,Swindon,13,14,6,8,16,6
15,2008-08-16,Colchester,Huddersfield,5,7,3,11,10,8
16,2008-08-16,Hereford,Yeovil,11,11,11,5,14,6
17,2008-08-16,Leeds,Oldham,13,7,25,10,12,2
18,2008-08-16,Millwall,Southend,12,6,2,10,10,10
19,2008-08-16,Milton Keynes Dons,Northampton,14,12,3,16,9,6
20,2008-08-16,Peterboro,Leyton Orient,26,4,10,14,10,11
21,2008-08-16,Stockport,Leicester,6,13,8,9,11,3
22,2008-08-16,Tranmere,Hartlepool,10,4,6,10,8,3
23,2008-08-16,Walsall,Scunthorpe,14,8,6,12,5,25
24,2008-08-22,Southend,Brighton,10,9,16,20,22,12
25,2008-08-23,Bristol Rvs,Hereford,13,15,20,22,14,25
26,2008-08-23,Crewe,Walsall,16,15,21,20,26,13
27,2008-08-23,Hartlepool,Stockport,16,8,14,14,13,24
28,2008-08-23,Huddersfield,Milton Keynes Dons,15,8,18,17,13,21
29,2008-08-23,Leicester,Tranmere,14,8,22,16,9,12
30,2008-08-23,Leyton Orient,Carlisle,17,10,18,20,37,29
31,2008-08-23,Northampton,Millwall,5,0,28,14,20,16
32,2008-08-23,Oldham,Cheltenham,18,9,17,19,15,30
33,2008-08-23,Scunthorpe,Peterboro,11,16,20,36,39,14
34,2008-08-23,Swindon,Colchester,4,11,22,8,19,17
35,2008-08-23,Yeovil,Leeds,7,7,16,38,17,19
36,2008-08-30,Brighton,Leyton Orient,6,11,29,35,22,47
37,2008-08-30,Carlisle,Yeovil,12,7,30,23,46,24
38,2008-08-30,Cheltenham,Leicester,10,19,28,36,48,17
39,2008-08-30,Colchester,Oldham,5,9,19,35,21,24
40,2008-08-30,Hereford,Crewe,15,17,37,37,38,41
41,2008-08-30,Leeds,Bristol Rvs,14,9,45,33,26,29
42,2008-08-30,Millwall,Huddersfield,12,6,14,33,21,21
43,2008-08-30,Milton Keynes Dons,Swindon,13,11,25,26,36,30
44,2008-08-30,Peterboro,Hartlepool,18,8,52,30,25,21
45,2008-08-30,Stockport,Scunthorpe,10,11,22,31,40,55
46,2008-08-30,Tranmere,Northampton,15,5,24,33,26,20
47,2008-08-30,Walsall,Southend,20,12,35,26,29,31
48,2008-09-05,Hereford,Swindon,9,10,52,37,55,43
49,2008-09-06,Brighton,Scunthorpe,10,7,35,42,33,65

Team Shots on Taget

In [197]:
# Gets the shots fired on target agg arranged by teams and matchweek
def get_shots_fired_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHSTF = playing_stat.iloc[i]['HST']
        # aggregated Home Team shots on Taget
        AGASTF = playing_stat.iloc[i]['AST']
        # aggregated Away Team shots on Taget
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSTF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASTF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    ShotsFired = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    ShotsFired[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        ShotsFired[i] = ShotsFired[i] + ShotsFired[i-1]
    return ShotsFired

# Gets the goals conceded agg on target arranged by teams and matchweek
def get_shots_conceded_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGASTC = playing_stat.iloc[i]['HST']
        # aggregated home team shots conceded
        AGHSTC = playing_stat.iloc[i]['AST']
        # aggregated away team shots conceded
        teams[playing_stat.iloc[i].HomeTeam].append(AGHSTC)
        teams[playing_stat.iloc[i].AwayTeam].append(AGASTC)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    ShotsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    ShotsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        ShotsConceded[i] = ShotsConceded[i] + ShotsConceded[i-1]
    return ShotsConceded

def get_sf_target(playing_stat):
    SFT = get_shots_fired_target(playing_stat)
    SCT = get_shots_conceded_target(playing_stat)
    
    j = 0
    AGHSTF = []
    AGASTF = []
    AGHSTC = []
    AGASTC = []  

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHSTF.append(SFT.loc[ht][j])
        AGASTF.append(SFT.loc[at][j])
        AGHSTC.append(SCT.loc[ht][j])
        AGASTC.append(SCT.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHSTF'] = AGHSTF
    playing_stat['AGASTF'] = AGASTF
    playing_stat['AGHSTC'] = AGHSTC
    playing_stat['AGASTC'] = AGASTC
    
    return playing_stat

In [198]:
#playing_statistics_1 = get_sf_target(playing_statistics_1)
#playing_statistics_2 = get_sf_target(playing_statistics_2)
#playing_statistics_3 = get_sf_target(playing_statistics_3)
#playing_statistics_4 = get_sf_target(playing_statistics_4)
#playing_statistics_5 = get_sf_target(playing_statistics_5)
playing_statistics_6 = get_sf_target(playing_statistics_6)
playing_statistics_7 = get_sf_target(playing_statistics_7)
playing_statistics_8 = get_sf_target(playing_statistics_8)
playing_statistics_9 = get_sf_target(playing_statistics_9)
playing_statistics_10 = get_sf_target(playing_statistics_10)
playing_statistics_11 = get_sf_target(playing_statistics_11)
playing_statistics_12 = get_sf_target(playing_statistics_12)
playing_statistics_13 = get_sf_target(playing_statistics_13)
playing_statistics_14 = get_sf_target(playing_statistics_14)
playing_statistics_15 = get_sf_target(playing_statistics_15)
playing_statistics_16 = get_sf_target(playing_statistics_16)
playing_statistics_17 = get_sf_target(playing_statistics_17)
playing_statistics_18 = get_sf_target(playing_statistics_18)
playing_statistics_19 = get_sf_target(playing_statistics_19)
#playing_statistics_20 = get_sf_target(playing_statistics_20)

<ipython-input-197-a9690f62e333>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSTF'] = AGHSTF
<ipython-input-197-a9690f62e333>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASTF'] = AGASTF
<ipython-input-197-a9690f62e333>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHSTC'] = AGHSTC
<ipython-input-197-a9690f62e333>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGASTC'] = AGASTC

In [199]:
playing_statistics_7[['Date', "HomeTeam", "AwayTeam", "HST", "AST",'AGHSTF', "AGASTF", "AGHSTC", "AGASTC"]].head(60)

,Date,HomeTeam,AwayTeam,HST,AST,AGHSTF,AGASTF,AGHSTC,AGASTC
0,2006-08-05,Bournemouth,Chesterfield,1,5,0,0,0,0
1,2006-08-05,Brentford,Blackpool,0,3,0,0,0,0
2,2006-08-05,Bristol City,Scunthorpe,7,2,0,0,0,0
3,2006-08-05,Carlisle,Doncaster,2,3,0,0,0,0
4,2006-08-05,Crewe,Northampton,6,7,0,0,0,0
5,2006-08-05,Gillingham,Huddersfield,8,3,0,0,0,0
6,2006-08-05,Millwall,Yeovil,5,6,0,0,0,0
7,2006-08-05,Nott'm Forest,Bradford,2,4,0,0,0,0
8,2006-08-05,Port Vale,Leyton Orient,8,4,0,0,0,0
9,2006-08-05,Rotherham,Brighton,8,4,0,0,0,0
10,2006-08-05,Swansea,Cheltenham,17,5,0,0,0,0
11,2006-08-05,Tranmere,Oldham,4,2,0,0,0,0
12,2006-08-08,Blackpool,Nott'm Forest,1,4,3,2,0,4
13,2006-08-08,Bradford,Bristol City,8,8,4,7,2,2
14,2006-08-08,Brighton,Gillingham,3,7,4,8,8,3
15,2006-08-08,Cheltenham,Tranmere,7,7,5,4,17,2
16,2006-08-08,Doncaster,Crewe,9,6,3,6,2,7
17,2006-08-08,Huddersfield,Rotherham,2,2,3,8,8,4
18,2006-08-08,Leyton Orient,Millwall,6,3,4,5,8,6
19,2006-08-08,Northampton,Brentford,10,2,7,0,6,3
20,2006-08-08,Oldham,Port Vale,5,4,2,8,4,4
21,2006-08-08,Scunthorpe,Swansea,11,10,2,17,7,5
22,2006-08-08,Yeovil,Bournemouth,1,8,6,1,5,5
23,2006-08-09,Chesterfield,Carlisle,10,4,5,2,1,3
24,2006-08-12,Blackpool,Rotherham,5,7,4,10,4,6
25,2006-08-12,Bradford,Gillingham,9,4,12,15,10,6
26,2006-08-12,Brighton,Brentford,3,3,7,2,15,13
27,2006-08-12,Cheltenham,Port Vale,9,3,12,12,24,9
28,2006-08-12,Chesterfield,Millwall,11,3,15,8,5,12
29,2006-08-12,Doncaster,Tranmere,6,2,12,11,8,9
30,2006-08-12,Huddersfield,Bristol City,5,3,5,15,10,10
31,2006-08-12,Leyton Orient,Bournemouth,10,5,10,9,11,6
32,2006-08-12,Northampton,Nott'm Forest,7,3,17,6,8,5
33,2006-08-12,Oldham,Swansea,5,7,7,27,8,16
34,2006-08-12,Scunthorpe,Crewe,11,2,13,12,17,16
35,2006-08-12,Yeovil,Carlisle,6,11,7,6,13,13
36,2006-08-19,Bournemouth,Cheltenham,5,6,14,21,16,27
37,2006-08-19,Brentford,Huddersfield,3,2,5,10,16,13
38,2006-08-19,Bristol City,Blackpool,7,13,18,9,15,11
39,2006-08-19,Carlisle,Leyton Orient,9,4,17,20,19,16
40,2006-08-19,Crewe,Bradford,3,6,14,21,27,14
41,2006-08-19,Gillingham,Northampton,7,1,19,24,15,11
42,2006-08-19,Millwall,Oldham,5,6,11,12,23,15
43,2006-08-19,Nott'm Forest,Brighton,7,5,9,10,12,18
44,2006-08-19,Port Vale,Chesterfield,8,6,15,26,18,8
45,2006-08-19,Rotherham,Scunthorpe,5,2,17,24,11,19
46,2006-08-19,Swansea,Doncaster,8,5,34,18,21,10
47,2006-08-19,Tranmere,Yeovil,6,4,13,13,15,24
48,2006-08-26,Blackpool,Gillingham,9,5,22,26,18,16
49,2006-08-26,Bradford,Rotherham,6,2,27,22,17,13
50,2006-08-26,Cheltenham,Millwall,7,7,27,16,32,29
51,2006-08-26,Chesterfield,Tranmere,5,7,32,19,16,19
52,2006-08-26,Doncaster,Bournemouth,8,3,23,19,18,22
53,2006-08-26,Huddersfield,Nott'm Forest,10,3,12,16,16,17
54,2006-08-26,Leyton Orient,Swansea,2,4,24,42,25,26
55,2006-08-26,Scunthorpe,Brentford,14,5,26,8,24,18
56,2006-08-26,Yeovil,Port Vale,1,2,17,23,30,24
57,2006-08-27,Brighton,Crewe,7,10,15,17,25,33
58,2006-08-27,Oldham,Carlisle,6,11,18,26,20,23
59,2006-08-29,Northampton,Bristol City,12,2,25,25,18,28

Team Fouls Committed

In [200]:
# Gets the shots fired on target agg arranged by teams and matchweek
def get_fouls(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHF = playing_stat.iloc[i]['HF']
        # aggregated Home Team Fouls
        AGAF = playing_stat.iloc[i]['AF']
        # aggregated Away Team Fouls
        teams[playing_stat.iloc[i].HomeTeam].append(AGHF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGAF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Fouls = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    Fouls[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        Fouls[i] = Fouls[i] + Fouls[i-1]
    return Fouls


def get_fouls_agg(playing_stat):
    FA = get_fouls(playing_stat)
   
    j = 0
    AGHF = []
    AGAF = []

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHF.append(FA.loc[ht][j])
        AGAF.append(FA.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHF'] = AGHF
    playing_stat['AGAF'] = AGAF
    return playing_stat

In [201]:
#playing_statistics_1 = get_fouls_agg(playing_statistics_1)
#playing_statistics_2 = get_fouls_agg(playing_statistics_2)
#playing_statistics_3 = get_fouls_agg(playing_statistics_3)
#playing_statistics_4 = get_fouls_agg(playing_statistics_4)
#playing_statistics_5 = get_fouls_agg(playing_statistics_5)
playing_statistics_6 = get_fouls_agg(playing_statistics_6)
playing_statistics_7 = get_fouls_agg(playing_statistics_7)
playing_statistics_8 = get_fouls_agg(playing_statistics_8)
playing_statistics_9 = get_fouls_agg(playing_statistics_9)
playing_statistics_10 = get_fouls_agg(playing_statistics_10)
playing_statistics_11 = get_fouls_agg(playing_statistics_11)
playing_statistics_12 = get_fouls_agg(playing_statistics_12)
playing_statistics_13 = get_fouls_agg(playing_statistics_13)
playing_statistics_14 = get_fouls_agg(playing_statistics_14)
playing_statistics_15 = get_fouls_agg(playing_statistics_15)
playing_statistics_16 = get_fouls_agg(playing_statistics_16)
playing_statistics_17 = get_fouls_agg(playing_statistics_17)
playing_statistics_18 = get_fouls_agg(playing_statistics_18)
playing_statistics_19 = get_fouls_agg(playing_statistics_19)
#playing_statistics_20 = get_fouls_agg(playing_statistics_20)

<ipython-input-200-50791aa5674b>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHF'] = AGHF
<ipython-input-200-50791aa5674b>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGAF'] = AGAF

In [202]:
playing_statistics_15[['Date', "HomeTeam", "AwayTeam", "HF", "AF",'AGHF', "AGAF"]].head(60)

          Date            HomeTeam            AwayTeam  HF  AF  AGHF  AGAF
0   2014-08-09            Barnsley        Crawley Town  15  20     0     0
1   2014-08-09            Bradford            Coventry  16  10     0     0
2   2014-08-09          Colchester              Oldham   6   5     0     0
3   2014-08-09      Fleetwood Town               Crewe  15  11     0     0
4   2014-08-09       Leyton Orient        Chesterfield  11  15     0     0
5   2014-08-09  Milton Keynes Dons          Gillingham  10   9     0     0
6   2014-08-09           Port Vale             Walsall  13   8     0     0
7   2014-08-09             Preston        Notts County   6   7     0     0
8   2014-08-09            Rochdale           Peterboro   8   9     0     0
9   2014-08-09    Sheffield United        Bristol City  11   7     0     0
10  2014-08-09             Swindon          Scunthorpe   6  13     0     0
11  2014-08-09              Yeovil           Doncaster  11  17     0     0
12  2014-08-16        Bristol City          Colchester   7   9     7     6
13  2014-08-16        Chesterfield            Rochdale   7  13    15     8
14  2014-08-16            Coventry    Sheffield United  15  14    10    11
15  2014-08-16        Crawley Town             Swindon  10  11    20     6
16  2014-08-16               Crewe            Barnsley  10   9    11    15
17  2014-08-16           Doncaster           Port Vale  12   8    17    13
18  2014-08-16          Gillingham              Yeovil  11  13     9    11
19  2014-08-16        Notts County      Fleetwood Town   8   6     7    15
20  2014-08-16              Oldham       Leyton Orient  10  12     5    11
21  2014-08-16           Peterboro  Milton Keynes Dons   9  10     9    10
22  2014-08-16          Scunthorpe             Preston   9  13    13     6
23  2014-08-16             Walsall            Bradford   7  20     8    16
24  2014-08-19        Bristol City       Leyton Orient   8  11    14    23
25  2014-08-19        Chesterfield  Milton Keynes Dons   8   8    22    20
26  2014-08-19            Coventry            Barnsley  16  13    25    24
27  2014-08-19        Crawley Town            Bradford   8  12    30    36
28  2014-08-19               Crewe            Rochdale   8  18    21    21
29  2014-08-19           Doncaster             Preston  10  14    29    19
30  2014-08-19          Gillingham             Swindon  10  10    20    17
31  2014-08-19        Notts County          Colchester  10  10    15    15
32  2014-08-19              Oldham           Port Vale  17  14    15    21
33  2014-08-19           Peterboro    Sheffield United  11   7    18    25
34  2014-08-19          Scunthorpe      Fleetwood Town   9  11    22    21
35  2014-08-19             Walsall              Yeovil   5  17    15    24
36  2014-08-23            Barnsley          Gillingham   8  12    37    30
37  2014-08-23            Bradford           Peterboro   8  13    48    29
38  2014-08-23          Colchester           Doncaster  16   6    25    39
39  2014-08-23      Fleetwood Town        Chesterfield  10  12    32    30
40  2014-08-23       Leyton Orient             Walsall  14   5    34    20
41  2014-08-23  Milton Keynes Dons            Coventry  14  24    28    41
42  2014-08-23           Port Vale        Notts County  15  11    35    25
43  2014-08-23             Preston              Oldham  14  11    33    32
44  2014-08-23            Rochdale        Bristol City   7   9    39    22
45  2014-08-23    Sheffield United        Crawley Town  11  18    32    38
46  2014-08-23             Swindon               Crewe  12   9    27    29
47  2014-08-23              Yeovil          Scunthorpe  13  14    41    31
48  2014-08-30          Colchester           Peterboro  10  13    41    42
49  2014-08-30           Doncaster              Oldham  14   9    45    43
50  2014-08-30      Fleetwood Town       Leyton Orient  13  12    42    48
51  2014-08-30          Gillingham               Crewe  15   7    42    38
52  2014-08-30  Milton Keynes Dons        Crawley Town  12  13    42    56
53  2014-08-30           Port Vale        Chesterfield  11  13    50    42
54  2014-08-30             Preston    Sheffield United  15  10    47    43
55  2014-08-30            Rochdale            Bradford   8  10    46    56
56  2014-08-30          Scunthorpe             Walsall  13  12    45    25
57  2014-08-30             Swindon            Coventry   4  16    39    65
58  2014-08-30              Yeovil            Barnsley  10  12    54    45
59  2014-08-31        Notts County        Bristol City  15  10    36    31

Team Corners

In [203]:
# Gets the shots fired on target agg arranged by teams and matchweek
def get_corners_fired(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHCF = playing_stat.iloc[i]['HC']
        # aggregated Home Team corners
        AGACF = playing_stat.iloc[i]['AC']
        # aggregated Away Team corners
        teams[playing_stat.iloc[i].HomeTeam].append(AGHCF)
        teams[playing_stat.iloc[i].AwayTeam].append(AGACF)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Corners = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    Corners[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        Corners[i] = Corners[i] + Corners[i-1]
    return Corners

def get_corners_conceived(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGACC = playing_stat.iloc[i]['HC']
        # aggregated Home Team corners
        AGHCC = playing_stat.iloc[i]['AC']
        # aggregated Away Team corners
        teams[playing_stat.iloc[i].HomeTeam].append(AGHCC)
        teams[playing_stat.iloc[i].AwayTeam].append(AGACC)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Corners = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    Corners[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        Corners[i] = Corners[i] + Corners[i-1]
    return Corners


def get_corners_agg(playing_stat):
    CF = get_corners_fired(playing_stat)
    CC = get_corners_conceived(playing_stat)
   
    j = 0
    AGHCF = []
    AGACF = []
    AGHCC = []
    AGACC = []

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHCF.append(CF.loc[ht][j])
        AGACF.append(CF.loc[at][j])
        AGHCC.append(CC.loc[ht][j])
        AGACC.append(CC.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHCF'] = AGHCF
    playing_stat['AGACF'] = AGACF
    playing_stat['AGHCC'] = AGHCC
    playing_stat['AGACC'] = AGACC
    
    return playing_stat

In [204]:
#playing_statistics_1 = get_corners_agg(playing_statistics_1)
#playing_statistics_2 = get_corners_agg(playing_statistics_2)
#playing_statistics_3 = get_corners_agg(playing_statistics_3)
#playing_statistics_4 = get_corners_agg(playing_statistics_4)
#playing_statistics_5 = get_corners_agg(playing_statistics_5)
playing_statistics_6 = get_corners_agg(playing_statistics_6)
playing_statistics_7 = get_corners_agg(playing_statistics_7)
playing_statistics_8 = get_corners_agg(playing_statistics_8)
playing_statistics_9 = get_corners_agg(playing_statistics_9)
playing_statistics_10 = get_corners_agg(playing_statistics_10)
playing_statistics_11 = get_corners_agg(playing_statistics_11)
playing_statistics_12 = get_corners_agg(playing_statistics_12)
playing_statistics_13 = get_corners_agg(playing_statistics_13)
playing_statistics_14 = get_corners_agg(playing_statistics_14)
playing_statistics_15 = get_corners_agg(playing_statistics_15)
playing_statistics_16 = get_corners_agg(playing_statistics_16)
playing_statistics_17 = get_corners_agg(playing_statistics_17)
playing_statistics_18 = get_corners_agg(playing_statistics_18)
playing_statistics_19 = get_corners_agg(playing_statistics_19)
#playing_statistics_20 = get_corners_agg(playing_statistics_20)

<ipython-input-203-953c7a50bd5b>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHCF'] = AGHCF
<ipython-input-203-953c7a50bd5b>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGACF'] = AGACF
<ipython-input-203-953c7a50bd5b>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHCC'] = AGHCC
<ipython-input-203-953c7a50bd5b>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGACC'] = AGACC

In [205]:
playing_statistics_8[['Date', "HomeTeam", "AwayTeam", "HC", "AC",'AGHCF', "AGACF", "AGHCC", "AGACC"]].head(50)

,Date,HomeTeam,AwayTeam,HC,AC,AGHCF,AGACF,AGHCC,AGACC
0,2007-08-11,Cheltenham,Gillingham,9,6,0,0,0,0
1,2007-08-11,Crewe,Brighton,4,7,0,0,0,0
2,2007-08-11,Doncaster,Millwall,4,7,0,0,0,0
3,2007-08-11,Huddersfield,Yeovil,9,2,0,0,0,0
4,2007-08-11,Luton,Hartlepool,2,7,0,0,0,0
5,2007-08-11,Northampton,Swindon,8,4,0,0,0,0
6,2007-08-11,Nott'm Forest,Bournemouth,3,4,0,0,0,0
7,2007-08-11,Oldham,Swansea,5,8,0,0,0,0
8,2007-08-11,Port Vale,Bristol Rvs,2,3,0,0,0,0
9,2007-08-11,Southend,Leyton Orient,6,5,0,0,0,0
10,2007-08-11,Tranmere,Leeds,4,4,0,0,0,0
11,2007-08-11,Walsall,Carlisle,2,8,0,0,0,0
12,2007-08-18,Bournemouth,Huddersfield,7,2,4,9,3,2
13,2007-08-18,Brighton,Northampton,5,4,7,8,4,4
14,2007-08-18,Bristol Rvs,Crewe,9,0,3,4,2,7
15,2007-08-18,Carlisle,Oldham,2,9,8,5,2,8
16,2007-08-18,Gillingham,Tranmere,7,5,6,4,9,4
17,2007-08-18,Hartlepool,Doncaster,5,8,7,4,2,7
18,2007-08-18,Leeds,Southend,8,7,4,6,4,5
19,2007-08-18,Leyton Orient,Walsall,4,8,5,2,6,8
20,2007-08-18,Millwall,Cheltenham,7,2,7,9,4,6
21,2007-08-18,Swansea,Nott'm Forest,12,5,8,3,5,4
22,2007-08-18,Swindon,Luton,6,4,4,2,8,7
23,2007-08-18,Yeovil,Port Vale,5,10,2,2,9,3
24,2007-08-25,Cheltenham,Swindon,6,7,11,10,13,12
25,2007-08-25,Crewe,Leyton Orient,4,9,4,9,16,14
26,2007-08-25,Doncaster,Bournemouth,8,8,12,11,12,5
27,2007-08-25,Huddersfield,Carlisle,3,4,11,10,9,11
28,2007-08-25,Luton,Gillingham,9,3,6,13,13,14
29,2007-08-25,Northampton,Yeovil,6,2,12,7,9,19
30,2007-08-25,Nott'm Forest,Leeds,2,8,8,12,16,11
31,2007-08-25,Oldham,Bristol Rvs,6,1,14,12,10,2
32,2007-08-25,Port Vale,Hartlepool,7,7,12,12,8,10
33,2007-08-25,Southend,Millwall,7,2,13,14,13,6
34,2007-08-25,Tranmere,Brighton,6,4,9,12,11,8
35,2007-08-25,Walsall,Swansea,7,6,10,20,12,10
36,2007-09-01,Bournemouth,Port Vale,6,7,19,19,13,15
37,2007-09-01,Brighton,Southend,4,3,16,20,14,15
38,2007-09-01,Bristol Rvs,Nott'm Forest,10,3,13,10,8,24
39,2007-09-01,Carlisle,Cheltenham,6,5,14,17,14,20
40,2007-09-01,Gillingham,Walsall,6,4,16,17,23,18
41,2007-09-01,Hartlepool,Oldham,1,6,19,20,17,11
42,2007-09-01,Leeds,Luton,7,5,20,15,13,16
43,2007-09-01,Leyton Orient,Northampton,8,6,18,18,18,11
44,2007-09-01,Millwall,Huddersfield,5,5,16,14,13,13
45,2007-09-01,Swansea,Doncaster,8,2,26,20,17,20
46,2007-09-01,Swindon,Crewe,3,4,17,8,18,25
47,2007-09-01,Yeovil,Tranmere,3,4,9,15,25,15
48,2007-09-07,Brighton,Millwall,9,7,20,21,17,18
49,2007-09-07,Northampton,Doncaster,5,8,24,22,19,28

Yellow Cards

In [206]:
# Gets yellow cards agg arranged by teams and matchweek
def get_yellow(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHY = playing_stat.iloc[i]['HY']
        # aggregated Home Team yellow cards
        AGAY = playing_stat.iloc[i]['AY']
        # aggregated Away Team yellow cards
        teams[playing_stat.iloc[i].HomeTeam].append(AGHY)
        teams[playing_stat.iloc[i].AwayTeam].append(AGAY)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Yellow = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    Yellow[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        Yellow[i] = Yellow[i] + Yellow[i-1]
    return Yellow


def get_yellow_agg(playing_stat):
    Y = get_yellow(playing_stat)
   
    j = 0
    AGHY = []
    AGAY = []

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHY.append(Y.loc[ht][j])
        AGAY.append(Y.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHY'] = AGHY
    playing_stat['AGAY'] = AGAY
    return playing_stat

In [207]:
#playing_statistics_1 = get_yellow_agg(playing_statistics_1)
#playing_statistics_2 = get_yellow_agg(playing_statistics_2)
#playing_statistics_3 = get_yellow_agg(playing_statistics_3)
#playing_statistics_4 = get_yellow_agg(playing_statistics_4)
#playing_statistics_5 = get_yellow_agg(playing_statistics_5)
playing_statistics_6 = get_yellow_agg(playing_statistics_6)
playing_statistics_7 = get_yellow_agg(playing_statistics_7)
playing_statistics_8 = get_yellow_agg(playing_statistics_8)
playing_statistics_9 = get_yellow_agg(playing_statistics_9)
playing_statistics_10 = get_yellow_agg(playing_statistics_10)
playing_statistics_11 = get_yellow_agg(playing_statistics_11)
playing_statistics_12 = get_yellow_agg(playing_statistics_12)
playing_statistics_13 = get_yellow_agg(playing_statistics_13)
playing_statistics_14 = get_yellow_agg(playing_statistics_14)
playing_statistics_15 = get_yellow_agg(playing_statistics_15)
playing_statistics_16 = get_yellow_agg(playing_statistics_16)
playing_statistics_17 = get_yellow_agg(playing_statistics_17)
playing_statistics_18 = get_yellow_agg(playing_statistics_18)
playing_statistics_19 = get_yellow_agg(playing_statistics_19)
#playing_statistics_20 = get_yellow_agg(playing_statistics_20)

<ipython-input-206-90c824296a85>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHY'] = AGHY
<ipython-input-206-90c824296a85>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGAY'] = AGAY

In [208]:
playing_statistics_13[['Date', "HomeTeam", "AwayTeam", "HY", "AY",'AGHY', "AGAY"]].head(50)

          Date            HomeTeam            AwayTeam   HY   AY  AGHY  AGAY
0   2012-08-18                Bury           Brentford  1.0  0.0   0.0   0.0
1   2012-08-18        Crawley Town          Scunthorpe  1.0  2.0   0.0   0.0
2   2012-08-18               Crewe        Notts County  1.0  3.0   0.0   0.0
3   2012-08-18          Hartlepool             Swindon  0.0  1.0   0.0   0.0
4   2012-08-18  Milton Keynes Dons              Oldham  3.0  2.0   0.0   0.0
5   2012-08-18          Portsmouth         Bournemouth  1.0  1.0   0.0   0.0
6   2012-08-18             Preston          Colchester  2.0  1.0   0.0   0.0
7   2012-08-18    Sheffield United          Shrewsbury  0.0  2.0   0.0   0.0
8   2012-08-18           Stevenage            Carlisle  1.0  0.0   0.0   0.0
9   2012-08-18            Tranmere       Leyton Orient  2.0  3.0   0.0   0.0
10  2012-08-18             Walsall           Doncaster  0.0  3.0   0.0   0.0
11  2012-08-18              Yeovil            Coventry  1.0  1.0   0.0   0.0
12  2012-08-21         Bournemouth  Milton Keynes Dons  2.0  1.0   1.0   3.0
13  2012-08-21           Brentford              Yeovil  0.0  3.0   0.0   1.0
14  2012-08-21            Carlisle            Tranmere  4.0  2.0   0.0   2.0
15  2012-08-21          Colchester          Portsmouth  2.0  0.0   1.0   1.0
16  2012-08-21            Coventry    Sheffield United  2.0  2.0   1.0   0.0
17  2012-08-21           Doncaster                Bury  0.0  0.0   3.0   1.0
18  2012-08-21       Leyton Orient           Stevenage  2.0  1.0   3.0   1.0
19  2012-08-21        Notts County          Hartlepool  0.0  1.0   3.0   0.0
20  2012-08-21              Oldham             Walsall  1.0  1.0   2.0   0.0
21  2012-08-21          Scunthorpe               Crewe  0.0  1.0   2.0   1.0
22  2012-08-21          Shrewsbury             Preston  0.0  1.0   2.0   2.0
23  2012-08-21             Swindon        Crawley Town  1.0  1.0   1.0   1.0
24  2012-08-25         Bournemouth             Preston  2.0  3.0   3.0   3.0
25  2012-08-25           Brentford               Crewe  0.0  1.0   0.0   2.0
26  2012-08-25            Carlisle          Portsmouth  3.0  3.0   4.0   1.0
27  2012-08-25          Colchester    Sheffield United  2.0  2.0   3.0   2.0
28  2012-08-25            Coventry                Bury  0.0  0.0   3.0   1.0
29  2012-08-25           Doncaster        Crawley Town  0.0  2.0   3.0   2.0
30  2012-08-25        Notts County             Walsall  1.0  2.0   3.0   1.0
31  2012-08-25              Oldham           Stevenage  2.0  3.0   3.0   2.0
32  2012-08-25          Scunthorpe              Yeovil  3.0  3.0   2.0   4.0
33  2012-08-25          Shrewsbury            Tranmere  1.0  0.0   2.0   4.0
34  2012-08-25             Swindon  Milton Keynes Dons  2.0  1.0   2.0   4.0
35  2012-09-01                Bury        Notts County  0.0  2.0   1.0   3.0
36  2012-09-01        Crawley Town       Leyton Orient  2.0  2.0   4.0   7.0
37  2012-09-01               Crewe            Coventry  1.0  2.0   3.0   3.0
38  2012-09-01          Hartlepool          Scunthorpe  0.0  0.0   1.0   5.0
39  2012-09-01  Milton Keynes Dons            Carlisle  0.0  0.0   5.0   7.0
40  2012-09-01          Portsmouth              Oldham  1.0  3.0   4.0   5.0
41  2012-09-01    Sheffield United         Bournemouth  0.0  3.0   4.0   5.0
42  2012-09-01           Stevenage          Shrewsbury  0.0  1.0   5.0   3.0
43  2012-09-01            Tranmere          Colchester  0.0  2.0   4.0   5.0
44  2012-09-01             Walsall           Brentford  0.0  0.0   3.0   0.0
45  2012-09-01              Yeovil           Doncaster  1.0  1.0   7.0   3.0
46  2012-09-02             Preston             Swindon  1.0  2.0   6.0   4.0
47  2012-09-08           Brentford          Colchester  1.0  0.0   0.0   5.0
48  2012-09-08                Bury             Preston  3.0  3.0   1.0   7.0
49  2012-09-08               Crewe            Tranmere  1.0  1.0   4.0   4.0

Red cards

In [209]:
# Gets red cards agg arranged by teams and matchweek
def get_red(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        AGHR = playing_stat.iloc[i]['HR']
        # aggregated Home Team yellow cards
        AGAR = playing_stat.iloc[i]['AR']
        # aggregated Away Team yellow cards
        teams[playing_stat.iloc[i].HomeTeam].append(AGHR)
        teams[playing_stat.iloc[i].AwayTeam].append(AGAR)
    
    # Create a dataframe for shots fired (goals scored) where rows are teams and cols are matchweek.
    Red = pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T
    Red[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,47):
        Red[i] = Red[i] + Red[i-1]
    return Red


def get_red_agg(playing_stat):
    R = get_red(playing_stat)
   
    j = 0
    AGHR = []
    AGAR = []

    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        AGHR.append(R.loc[ht][j])
        AGAR.append(R.loc[at][j])
        
        if ((i + 1)% 12) == 0:
            j = j + 1
        
    playing_stat['AGHR'] = AGHR
    playing_stat['AGAR'] = AGAR
    return playing_stat

In [210]:
#playing_statistics_1 = get_red_agg(playing_statistics_1)
#playing_statistics_2 = get_red_agg(playing_statistics_2)
#playing_statistics_3 = get_red_agg(playing_statistics_3)
#playing_statistics_4 = get_red_agg(playing_statistics_4)
#playing_statistics_5 = get_red_agg(playing_statistics_5)
playing_statistics_6 = get_red_agg(playing_statistics_6)
playing_statistics_7 = get_red_agg(playing_statistics_7)
playing_statistics_8 = get_red_agg(playing_statistics_8)
playing_statistics_9 = get_red_agg(playing_statistics_9)
playing_statistics_10 = get_red_agg(playing_statistics_10)
playing_statistics_11 = get_red_agg(playing_statistics_11)
playing_statistics_12 = get_red_agg(playing_statistics_12)
playing_statistics_13 = get_red_agg(playing_statistics_13)
playing_statistics_14 = get_red_agg(playing_statistics_14)
playing_statistics_15 = get_red_agg(playing_statistics_15)
playing_statistics_16 = get_red_agg(playing_statistics_16)
playing_statistics_17 = get_red_agg(playing_statistics_17)
playing_statistics_18 = get_red_agg(playing_statistics_18)
playing_statistics_19 = get_red_agg(playing_statistics_19)
#playing_statistics_20 = get_red_agg(playing_statistics_20)

<ipython-input-209-c304fdc9736d>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGHR'] = AGHR
<ipython-input-209-c304fdc9736d>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AGAR'] = AGAR

In [211]:
playing_statistics_10[['Date', "HomeTeam", "AwayTeam", "HR", "AR",'AGHR', "AGAR"]].head(60)

          Date            HomeTeam            AwayTeam  HR  AR  AGHR  AGAR
0   2009-08-08            Brighton             Walsall   0   0     0     0
1   2009-08-08         Bristol Rvs       Leyton Orient   0   0     0     0
2   2009-08-08            Carlisle           Brentford   0   0     0     0
3   2009-08-08            Charlton             Wycombe   0   0     0     0
4   2009-08-08          Gillingham             Swindon   0   0     0     0
5   2009-08-08               Leeds              Exeter   0   1     0     0
6   2009-08-08  Milton Keynes Dons          Hartlepool   0   0     0     0
7   2009-08-08             Norwich          Colchester   0   0     0     0
8   2009-08-08              Oldham           Stockport   0   0     0     0
9   2009-08-08         Southampton            Millwall   0   0     0     0
10  2009-08-08            Southend        Huddersfield   0   1     0     0
11  2009-08-08              Yeovil            Tranmere   0   0     0     0
12  2009-08-15           Brentford            Brighton   0   0     0     0
13  2009-08-15          Colchester              Yeovil   0   0     0     0
14  2009-08-15              Exeter             Norwich   0   0     1     0
15  2009-08-15          Hartlepool            Charlton   0   0     0     0
16  2009-08-15        Huddersfield         Southampton   0   0     1     0
17  2009-08-15       Leyton Orient              Oldham   0   0     0     0
18  2009-08-15            Millwall            Carlisle   0   0     0     0
19  2009-08-15           Stockport         Bristol Rvs   0   0     0     0
20  2009-08-15             Swindon  Milton Keynes Dons   0   0     0     0
21  2009-08-15            Tranmere          Gillingham   0   0     0     0
22  2009-08-15             Walsall            Southend   1   0     0     0
23  2009-08-15             Wycombe               Leeds   0   0     0     0
24  2009-08-18           Brentford             Norwich   0   0     0     0
25  2009-08-18          Colchester          Gillingham   0   0     0     0
26  2009-08-18              Exeter              Yeovil   0   0     1     0
27  2009-08-18          Hartlepool         Bristol Rvs   0   0     0     0
28  2009-08-18        Huddersfield            Brighton   0   1     1     0
29  2009-08-18       Leyton Orient            Charlton   0   0     0     0
30  2009-08-18            Millwall              Oldham   0   0     0     0
31  2009-08-18           Stockport            Carlisle   0   0     0     0
32  2009-08-18             Swindon         Southampton   0   0     0     0
33  2009-08-18            Tranmere  Milton Keynes Dons   0   0     0     0
34  2009-08-18             Walsall               Leeds   0   0     1     0
35  2009-08-18             Wycombe            Southend   0   0     0     0
36  2009-08-21            Southend            Millwall   0   0     0     0
37  2009-08-22            Brighton           Stockport   2   1     1     0
38  2009-08-22         Bristol Rvs        Huddersfield   0   0     0     1
39  2009-08-22            Carlisle              Exeter   0   0     0     1
40  2009-08-22            Charlton             Walsall   0   0     0     1
41  2009-08-22          Gillingham          Hartlepool   0   0     0     0
42  2009-08-22               Leeds            Tranmere   0   0     0     0
43  2009-08-22  Milton Keynes Dons          Colchester   0   0     0     0
44  2009-08-22             Norwich             Wycombe   0   0     0     0
45  2009-08-22              Oldham             Swindon   0   0     0     0
46  2009-08-22         Southampton           Brentford   0   0     0     0
47  2009-08-22              Yeovil       Leyton Orient   0   0     0     0
48  2009-08-28            Millwall            Brighton   0   0     0     3
49  2009-08-29           Brentford              Oldham   0   0     0     0
50  2009-08-29          Colchester               Leeds   0   0     0     0
51  2009-08-29              Exeter  Milton Keynes Dons   0   0     1     0
52  2009-08-29          Hartlepool             Norwich   0   0     0     0
53  2009-08-29        Huddersfield              Yeovil   0   0     1     0
54  2009-08-29       Leyton Orient            Carlisle   0   0     0     0
55  2009-08-29           Stockport         Southampton   0   0     1     0
56  2009-08-29             Swindon            Southend   0   1     0     0
57  2009-08-29            Tranmere            Charlton   0   0     0     0
58  2009-08-29             Walsall          Gillingham   0   0     1     0
59  2009-08-29             Wycombe         Bristol Rvs   0   0     0     0

##### GET RESPECTIVE POINTS: 
-> 18 mit 24 ersetzen: number of teams

In [212]:
def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,47):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(24)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
            
    return pd.DataFrame(data=teams, index = [i for i in range(1,47)]).T

def get_agg_points(playing_stat):
    matchres = get_matchres(playing_stat)
    cum_pts = get_cuml_points(matchres)
    HTP = []
    ATP = []
    j = 0
    for i in range(552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 12) == 0:
            j = j + 1
            
    playing_stat['HTP'] = HTP
    playing_stat['ATP'] = ATP
    return playing_stat

In [213]:
# Apply to each dataset

#playing_statistics_1 = get_agg_points(playing_statistics_1)
#playing_statistics_2 = get_agg_points(playing_statistics_2)
#playing_statistics_3 = get_agg_points(playing_statistics_3)
#playing_statistics_4 = get_agg_points(playing_statistics_4)
#playing_statistics_5 = get_agg_points(playing_statistics_5)
playing_statistics_6 = get_agg_points(playing_statistics_6)
playing_statistics_7 = get_agg_points(playing_statistics_7)
playing_statistics_8 = get_agg_points(playing_statistics_8)
playing_statistics_9 = get_agg_points(playing_statistics_9)
playing_statistics_10 = get_agg_points(playing_statistics_10)
playing_statistics_11 = get_agg_points(playing_statistics_11)
playing_statistics_12 = get_agg_points(playing_statistics_12)
playing_statistics_13 = get_agg_points(playing_statistics_13)
playing_statistics_14 = get_agg_points(playing_statistics_14)
playing_statistics_15 = get_agg_points(playing_statistics_15)
playing_statistics_16 = get_agg_points(playing_statistics_16)
playing_statistics_17 = get_agg_points(playing_statistics_17)
playing_statistics_18 = get_agg_points(playing_statistics_18)
playing_statistics_19 = get_agg_points(playing_statistics_19)
#playing_statistics_20 = get_agg_points(playing_statistics_20)

<ipython-input-212-69e3d56d4887>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HTP'] = HTP
<ipython-input-212-69e3d56d4887>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['ATP'] = ATP

In [214]:
playing_statistics_12[['Date', "HomeTeam", "AwayTeam", "FTHG", "FTAG","HTP", "ATP"]].head(60)

          Date            HomeTeam            AwayTeam  FTHG  FTAG  HTP  ATP
0   2011-08-06           Brentford              Yeovil     2     0    0    0
1   2011-08-06            Carlisle        Notts County     0     3    0    0
2   2011-08-06            Charlton         Bournemouth     3     0    0    0
3   2011-08-06        Huddersfield                Bury     1     1    0    0
4   2011-08-06  Milton Keynes Dons          Hartlepool     2     2    0    0
5   2011-08-06              Oldham    Sheffield United     0     2    0    0
6   2011-08-06             Preston          Colchester     2     4    0    0
7   2011-08-06      Sheffield Weds            Rochdale     2     0    0    0
8   2011-08-06           Stevenage              Exeter     0     0    0    0
9   2011-08-06            Tranmere        Chesterfield     1     0    0    0
10  2011-08-06             Walsall       Leyton Orient     1     0    0    0
11  2011-08-06             Wycombe          Scunthorpe     1     1    0    0
12  2011-08-13         Bournemouth      Sheffield Weds     2     0    0    3
13  2011-08-13                Bury            Carlisle     0     2    1    0
14  2011-08-13        Chesterfield           Stevenage     1     1    0    1
15  2011-08-13          Colchester             Wycombe     1     1    3    1
16  2011-08-13              Exeter  Milton Keynes Dons     0     2    1    1
17  2011-08-13          Hartlepool             Walsall     1     1    1    3
18  2011-08-13       Leyton Orient            Tranmere     0     1    0    3
19  2011-08-13        Notts County            Charlton     1     2    3    3
20  2011-08-13            Rochdale        Huddersfield     2     2    0    1
21  2011-08-13          Scunthorpe             Preston     1     1    1    0
22  2011-08-13    Sheffield United           Brentford     2     0    3    3
23  2011-08-13              Yeovil              Oldham     3     1    0    0
24  2011-08-16         Bournemouth           Stevenage     1     3    3    2
25  2011-08-16                Bury      Sheffield Weds     2     1    1    3
26  2011-08-16        Chesterfield             Preston     0     2    1    1
27  2011-08-16          Colchester            Charlton     0     2    4    6
28  2011-08-16              Exeter           Brentford     1     2    1    3
29  2011-08-16          Hartlepool        Huddersfield     0     0    2    2
30  2011-08-16       Leyton Orient             Wycombe     1     3    0    2
31  2011-08-16        Notts County            Tranmere     3     2    3    6
32  2011-08-16            Rochdale            Carlisle     0     0    1    3
33  2011-08-16          Scunthorpe              Oldham     1     2    2    0
34  2011-08-16    Sheffield United             Walsall     3     2    6    4
35  2011-08-16              Yeovil  Milton Keynes Dons     0     1    3    4
36  2011-08-20           Brentford       Leyton Orient     5     0    6    0
37  2011-08-20            Carlisle         Bournemouth     2     1    4    3
38  2011-08-20            Charlton          Scunthorpe     2     2    9    2
39  2011-08-20        Huddersfield          Colchester     3     2    3    4
40  2011-08-20  Milton Keynes Dons        Chesterfield     6     2    7    1
41  2011-08-20              Oldham            Rochdale     2     0    3    2
42  2011-08-20             Preston              Exeter     1     0    4    1
43  2011-08-20      Sheffield Weds        Notts County     2     1    3    6
44  2011-08-20           Stevenage          Hartlepool     2     2    5    3
45  2011-08-20            Tranmere    Sheffield United     1     1    6    9
46  2011-08-20             Walsall              Yeovil     1     1    4    3
47  2011-08-20             Wycombe                Bury     0     2    5    4
48  2011-08-27         Bournemouth             Walsall     0     2    3    5
49  2011-08-27           Brentford            Tranmere     0     2    9    7
50  2011-08-27                Bury            Charlton     1     2    7   10
51  2011-08-27          Colchester              Oldham     4     1    4    6
52  2011-08-27              Exeter        Chesterfield     2     1    1    1
53  2011-08-27        Huddersfield             Wycombe     3     0    6    5
54  2011-08-27       Leyton Orient            Carlisle     1     2    0    7
55  2011-08-27  Milton Keynes Dons           Stevenage     1     0   10    6
56  2011-08-27             Preston        Notts County     2     0    7    6
57  2011-08-27            Rochdale          Hartlepool     1     3    2    4
58  2011-08-27      Sheffield Weds          Scunthorpe     3     2    6    3
59  2011-08-27              Yeovil    Sheffield United     0     1    4   10

GET TEAM FORM: 
-> 9 mit 10 ersetzen!

In [215]:
def get_form(playing_stat,num):
    form = get_matchres(playing_stat)
    form_final = form.copy()
    for i in range(num,47):
        form_final[i] = ''
        j = 0
        while j < num:
            form_final[i] += form[i-j]
            j += 1           
    return form_final

def add_form(playing_stat,num):
    form = get_form(playing_stat,num)
    h = ['M' for i in range(num * 12)]  # since form is not available for n MW (n*10)
    a = ['M' for i in range(num * 12)]
    
    j = num
    for i in range((num*12),552):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        
        past = form.loc[ht][j]               # get past n results
        h.append(past[num-1])                    # 0 index is most recent
        
        past = form.loc[at][j]               # get past n results.
        a.append(past[num-1])                   # 0 index is most recent
        
        if ((i + 1)% 12) == 0:
            j = j + 1

    playing_stat['HM' + str(num)] = h                 
    playing_stat['AM' + str(num)] = a

    
    return playing_stat


def add_form_df(playing_statistics):
    playing_statistics = add_form(playing_statistics,1)
    playing_statistics = add_form(playing_statistics,2)
    playing_statistics = add_form(playing_statistics,3)
    playing_statistics = add_form(playing_statistics,4)
    playing_statistics = add_form(playing_statistics,5)
    return playing_statistics

In [216]:
# Make changes to df
#playing_statistics_1 = add_form_df(playing_statistics_1)
#playing_statistics_2 = add_form_df(playing_statistics_2)
#playing_statistics_3 = add_form_df(playing_statistics_3)
#playing_statistics_4 = add_form_df(playing_statistics_4)
#playing_statistics_5 = add_form_df(playing_statistics_5)
playing_statistics_6 = add_form_df(playing_statistics_6)
playing_statistics_7 = add_form_df(playing_statistics_7)
playing_statistics_8 = add_form_df(playing_statistics_8)
playing_statistics_9 = add_form_df(playing_statistics_9)
playing_statistics_10 = add_form_df(playing_statistics_10)
playing_statistics_11 = add_form_df(playing_statistics_11)
playing_statistics_12 = add_form_df(playing_statistics_12)
playing_statistics_13 = add_form_df(playing_statistics_13)
playing_statistics_14 = add_form_df(playing_statistics_14)
playing_statistics_15 = add_form_df(playing_statistics_15)
playing_statistics_16 = add_form_df(playing_statistics_16)
playing_statistics_17 = add_form_df(playing_statistics_17)
playing_statistics_18 = add_form_df(playing_statistics_18)
playing_statistics_19 = add_form_df(playing_statistics_19)
#playing_statistics_20 = add_form_df(playing_statistics_20)

<ipython-input-215-ebbcc0361dc0>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['HM' + str(num)] = h
<ipython-input-215-ebbcc0361dc0>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['AM' + str(num)] = a

Get MatchWeek:

In [217]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(552):
        MatchWeek.append(j)
        if ((i + 1)% 12) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

In [218]:
#playing_statistics_1 = get_mw(playing_statistics_1)
#playing_statistics_2 = get_mw(playing_statistics_2)
#playing_statistics_3 = get_mw(playing_statistics_3)
#playing_statistics_4 = get_mw(playing_statistics_4)
#playing_statistics_5 = get_mw(playing_statistics_5)
playing_statistics_6 = get_mw(playing_statistics_6)
playing_statistics_7 = get_mw(playing_statistics_7)
playing_statistics_8 = get_mw(playing_statistics_8)
playing_statistics_9 = get_mw(playing_statistics_9)
playing_statistics_10 = get_mw(playing_statistics_10)
playing_statistics_11 = get_mw(playing_statistics_11)
playing_statistics_12 = get_mw(playing_statistics_12)
playing_statistics_13 = get_mw(playing_statistics_13)
playing_statistics_14 = get_mw(playing_statistics_14)
playing_statistics_15 = get_mw(playing_statistics_15)
playing_statistics_16 = get_mw(playing_statistics_16)
playing_statistics_17 = get_mw(playing_statistics_17)
playing_statistics_18 = get_mw(playing_statistics_18)
playing_statistics_19 = get_mw(playing_statistics_19)
#playing_statistics_20 = get_mw(playing_statistics_20)

<ipython-input-217-e64cf2a3cfac>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  playing_stat['MW'] = MatchWeek

In [219]:
playing_statistics_6

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,...,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5,MW
0,2005-08-06,Barnsley,Swindon,2,0,H,12,8,7,5,...,M,M,M,M,M,M,M,M,M,1
1,2005-08-06,Blackpool,Chesterfield,1,3,A,13,5,8,3,...,M,M,M,M,M,M,M,M,M,1
2,2005-08-06,Brentford,Scunthorpe,2,0,H,7,5,4,4,...,M,M,M,M,M,M,M,M,M,1
3,2005-08-06,Bristol City,Doncaster,0,0,D,15,12,2,1,...,M,M,M,M,M,M,M,M,M,1
4,2005-08-06,Gillingham,Colchester,2,1,H,9,6,6,4,...,M,M,M,M,M,M,M,M,M,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,2006-05-06,Southend,Bristol City,1,0,H,11,11,6,3,...,D,L,W,D,W,L,W,W,W,46
548,2006-05-06,Swindon,Huddersfield,0,0,D,9,7,4,3,...,L,L,W,W,L,L,D,L,L,46
549,2006-05-06,Tranmere,Doncaster,0,2,A,10,6,2,2,...,W,L,W,L,W,L,L,L,L,46
550,2006-05-06,Walsall,Barnsley,1,2,A,7,13,2,3,...,D,L,D,L,D,D,W,L,D,46
551,2006-05-06,Yeovil,Colchester,0,0,D,6,8,2,1,...,W,W,W,L,W,L,D,W,W,46

FINAL DATAFRAME

In [220]:
playing_stat = pd.concat([#playing_statistics_1,
                          #playing_statistics_2,
                          #playing_statistics_3,
                          #playing_statistics_4,
                          #playing_statistics_5,
                          playing_statistics_6,
                          playing_statistics_7,
                          playing_statistics_8,
                          playing_statistics_9,
                          playing_statistics_10,
                          playing_statistics_11,
                          playing_statistics_12,
                          playing_statistics_13,
                          playing_statistics_14,
                          playing_statistics_15,
                          playing_statistics_16,
                          playing_statistics_17,
                          playing_statistics_18,
                          playing_statistics_19,], ignore_index=True)

In [221]:
playing_stat

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,...,AM1,HM2,AM2,HM3,AM3,HM4,AM4,HM5,AM5,MW
0,2005-08-06,Barnsley,Swindon,2.0,0.0,H,12.0,8.0,7.0,5.0,...,M,M,M,M,M,M,M,M,M,1
1,2005-08-06,Blackpool,Chesterfield,1.0,3.0,A,13.0,5.0,8.0,3.0,...,M,M,M,M,M,M,M,M,M,1
2,2005-08-06,Brentford,Scunthorpe,2.0,0.0,H,7.0,5.0,4.0,4.0,...,M,M,M,M,M,M,M,M,M,1
3,2005-08-06,Bristol City,Doncaster,0.0,0.0,D,15.0,12.0,2.0,1.0,...,M,M,M,M,M,M,M,M,M,1
4,2005-08-06,Gillingham,Colchester,2.0,1.0,H,9.0,6.0,6.0,4.0,...,M,M,M,M,M,M,M,M,M,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7723,2019-05-04,Plymouth,Scunthorpe,3.0,2.0,H,17.0,10.0,8.0,4.0,...,L,L,L,L,D,L,L,L,D,46
7724,2019-05-04,Portsmouth,Accrington,1.0,1.0,D,11.0,8.0,2.0,5.0,...,W,D,W,W,L,W,W,W,L,46
7725,2019-05-04,Shrewsbury,Walsall,0.0,0.0,D,8.0,8.0,4.0,2.0,...,W,L,L,L,D,W,L,D,L,46
7726,2019-05-04,Southend,Sunderland,2.0,1.0,H,9.0,8.0,3.0,2.0,...,L,W,D,D,D,L,W,D,L,46
7727,2019-05-04,Wycombe,Fleetwood Town,1.0,0.0,H,9.0,14.0,5.0,6.0,...,W,W,D,L,L,W,D,L,L,46

In [222]:
# Gets the form points.
def get_form_points(string):
    sum = 0
    for letter in string:
        sum += get_points(letter)
    return sum

playing_stat['HTFormPtsStr'] = playing_stat['HM1'] + playing_stat['HM2'] + playing_stat['HM3'] + playing_stat['HM4'] + playing_stat['HM5']
playing_stat['ATFormPtsStr'] = playing_stat['AM1'] + playing_stat['AM2'] + playing_stat['AM3'] + playing_stat['AM4'] + playing_stat['AM5']

playing_stat['HTFormPts'] = playing_stat['HTFormPtsStr'].apply(get_form_points)
playing_stat['ATFormPts'] = playing_stat['ATFormPtsStr'].apply(get_form_points)

# Identify Win/Loss Streaks if any.
def get_3game_ws(string):
    if string[-3:] == 'WWW':
        return 1
    else:
        return 0
    
def get_5game_ws(string):
    if string == 'WWWWW':
        return 1
    else:
        return 0
    
def get_3game_ls(string):
    if string[-3:] == 'LLL':
        return 1
    else:
        return 0
    
def get_5game_ls(string):
    if string == 'LLLLL':
        return 1
    else:
        return 0
    
playing_stat['HTWinStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ws)
playing_stat['HTWinStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ws)
playing_stat['HTLossStreak3'] = playing_stat['HTFormPtsStr'].apply(get_3game_ls)
playing_stat['HTLossStreak5'] = playing_stat['HTFormPtsStr'].apply(get_5game_ls)

playing_stat['ATWinStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ws)
playing_stat['ATWinStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ws)
playing_stat['ATLossStreak3'] = playing_stat['ATFormPtsStr'].apply(get_3game_ls)
playing_stat['ATLossStreak5'] = playing_stat['ATFormPtsStr'].apply(get_5game_ls)

playing_stat.keys()

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS',
       'HST', 'AST', 'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR', 'AR', 'HTGS',
       'ATGS', 'HTGC', 'ATGC', 'AGHSF', 'AGASF', 'AGHSC', 'AGASC', 'AGHSTF',
       'AGASTF', 'AGHSTC', 'AGASTC', 'AGHF', 'AGAF', 'AGHCF', 'AGACF', 'AGHCC',
       'AGACC', 'AGHY', 'AGAY', 'AGHR', 'AGAR', 'HTP', 'ATP', 'HM1', 'AM1',
       'HM2', 'AM2', 'HM3', 'AM3', 'HM4', 'AM4', 'HM5', 'AM5', 'MW',
       'HTFormPtsStr', 'ATFormPtsStr', 'HTFormPts', 'ATFormPts',
       'HTWinStreak3', 'HTWinStreak5', 'HTLossStreak3', 'HTLossStreak5',
       'ATWinStreak3', 'ATWinStreak5', 'ATLossStreak3', 'ATLossStreak5'],
      dtype='object')

In [223]:
# Get Goal Difference
playing_stat['HTGD'] = playing_stat['HTGS'] - playing_stat['HTGC']
playing_stat['ATGD'] = playing_stat['ATGS'] - playing_stat['ATGC']

# Diff in points
playing_stat['DiffPts'] = playing_stat['HTP'] - playing_stat['ATP']
playing_stat['DiffFormPts'] = playing_stat['HTFormPts'] - playing_stat['ATFormPts']

# Diff in Shots fired
playing_stat['HTSD'] = playing_stat['AGHSF'] - playing_stat['AGHSC']
playing_stat['ATSD'] = playing_stat['AGASF'] - playing_stat['AGASC']

# Diff in shots on target
playing_stat['HTSTD'] = playing_stat['AGHSTF'] - playing_stat['AGHSTC']
playing_stat['ATSTD'] = playing_stat['AGASTF'] - playing_stat['AGASTC']

# Diff in corners
playing_stat['HTCD'] = playing_stat['AGHCF'] - playing_stat['AGHCC']
playing_stat['ATCD'] = playing_stat['AGACF'] - playing_stat['AGACC']

In [224]:
# Datensatz nicht gescaled
#playing_stat_raw = playing_stat
#playing_stat_raw.to_csv(loc + "2019_2020_ingame_1und2_raw.csv")

In [225]:
# Scale DiffPts , DiffFormPts, HTGD, ATGD by Matchweek.
cols = ['HTGD','ATGD','DiffPts','DiffFormPts','HTP','ATP', "HTSD", "ATSD", "HTSTD", "ATSTD", "HTCD", "ATCD",
        "AGHY", "AGHR", "AGAR", "AGHF", "AGAF", "AGAY", 'AGHSF','AGASF', 'AGHSC', 'AGASC', 'AGHSTF', 'AGASTF', 
        'AGHSTC', 'AGASTC', 'AGHCF', 'AGACF', 'AGHCC', 'AGACC']
playing_stat.MW = playing_stat.MW.astype(float)

for col in cols:
    playing_stat[col] = playing_stat[col] / playing_stat.MW

In [226]:
playing_stat.MW

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
7723    46.0
7724    46.0
7725    46.0
7726    46.0
7727    46.0
Name: MW, Length: 7728, dtype: float64

In [227]:
playing_stat

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,...,HTGD,ATGD,DiffPts,DiffFormPts,HTSD,ATSD,HTSTD,ATSTD,HTCD,ATCD
0,2005-08-06,Barnsley,Swindon,2.0,0.0,H,12.0,8.0,7.0,5.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2005-08-06,Blackpool,Chesterfield,1.0,3.0,A,13.0,5.0,8.0,3.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2005-08-06,Brentford,Scunthorpe,2.0,0.0,H,7.0,5.0,4.0,4.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2005-08-06,Bristol City,Doncaster,0.0,0.0,D,15.0,12.0,2.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2005-08-06,Gillingham,Colchester,2.0,1.0,H,9.0,6.0,6.0,4.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7723,2019-05-04,Plymouth,Scunthorpe,3.0,2.0,H,17.0,10.0,8.0,4.0,...,-0.543478,-0.630435,0.021739,-0.043478,-1.869565,-2.891304,-1.608696,-0.717391,-1.000000,-2.130435
7724,2019-05-04,Portsmouth,Accrington,1.0,1.0,D,11.0,8.0,2.0,5.0,...,0.695652,-0.347826,0.717391,0.021739,1.500000,-1.369565,1.239130,-0.500000,1.456522,0.021739
7725,2019-05-04,Shrewsbury,Walsall,0.0,0.0,D,8.0,8.0,4.0,2.0,...,-0.173913,-0.478261,0.108696,0.021739,2.543478,-2.456522,0.326087,-0.673913,0.826087,-0.239130
7726,2019-05-04,Southend,Sunderland,2.0,1.0,H,9.0,8.0,3.0,2.0,...,-0.304348,0.739130,-0.826087,0.000000,-0.630435,0.413043,-0.434783,0.304348,-0.369565,1.000000
7727,2019-05-04,Wycombe,Fleetwood Town,1.0,0.0,H,9.0,14.0,5.0,6.0,...,-0.282609,0.152174,-0.239130,0.021739,0.391304,-0.826087,0.021739,0.500000,0.130435,-0.782609

In [228]:
playing_stat.to_csv(loc + "final_dataset_league1.csv")
# playing_stat_test.to_csv(loc+"test.csv")